
<?php
$itemCount = 100;
$searchData = array();
$search = array();
$sort = array("fname" => 1, "lname" => 1);

if (isset($this->session->post["ITEMCOUNT"]) and $this->session->post["ITEMCOUNT"] != null and $this->session->post["ITEMCOUNT"] != null) {
    $itemCount = $this->session->post["ITEMCOUNT"];
}
//when search box is empty
if ($this->session->post["SEARCH"] == '' || $this->session->post["SEARCH"] == null || !isset($this->session->post["SEARCH"])) {
    $this->session->post = null;
}

//SEARCH CONFIRM ID #
if ($this->session->post["TYPE"] == "mongoID") {
    $searchData = array("mongoID" => (integer) $this->session->post["SEARCH"]);
}

//SEARCH FIRST AND LAST NAME
if ($this->session->post["TYPE"] == "first_last_name") {
    $names = explode("/", $this->session->post["SEARCH"]);

    if (isset($names[1])) {
        $search = array("fname" => new MongoRegex("/^" . $names[0] . "/i"), "lname" => new MongoRegex("/^" . $names[1] . "/i"));
    } else {
        $search = array("fname" => new MongoRegex("/^" . $names[0] . "/i"));
    }
}


//SEARCH TITLE
if ($this->session->post["TYPE"] == "title") {
    //echo"<pre>";var_dump($this->session->post["TYPE"]);exit;

    $searchData = array("title" => new MongoRegex("/" . $this->session->post["SEARCH"] . "/i"));
}



//SEARCH CREATED DATE
if ($this->session->post["TYPE"] == "created_date") {
    $names = explode("/", $this->session->post["SEARCH"]);
    var_dump($this->session->post);
    if (isset($names[1])) {
        $searchData = array("dateCreatedMonth" => new MongoRegex("/^" . $names[0] . "/i"), "dateCreatedDay" => new MongoRegex("/^" . $names[1] . "/i"), "dateCreatedYear" => new MongoRegex("/^" . $names[2] . "/i"));
    } else {
        $searchData = array("dateCreatedMonth" => new MongoRegex("/^" . $names[0] . "/i"));
    }
}

//SEARCH UPDATED DATE
if ($this->session->post["TYPE"] == "update_date") {
    $names = explode("/", $this->session->post["SEARCH"]);
    var_dump($this->session->post);
    if (isset($names[1])) {
        $searchData = array("dateUpdatedMonth" => new MongoRegex("/^" . $names[0] . "/i"), "dateUpdatedDay" => new MongoRegex("/^" . $names[1] . "/i"), "dateUpdatedYear" => new MongoRegex("/^" . $names[2] . "/i"));
    } else {
        $searchData = array("dateUpdatedMonth" => new MongoRegex("/^" . $names[0] . "/i"));
    }
}

//SEARCH STATUS
if ($this->session->post["TYPE"] == "status") {
    //echo"<pre>";var_dump($this->session->post["TYPE"]);exit;

    $searchData = array("title" => new MongoRegex("/" . $this->session->post["SEARCH"] . "/i"));
}

$search = array_merge($search, $searchData);

//Now search is prepared grabbing data from mongo
$this->session->datas = $service->mongoFind($this->session->defaultDB, $this->session->view, $search, $itemCount, $sort);
//$this->session->datas = $collectionTable->find(); //finds everything in collection
//setups pages to redirect to home page.
$url = $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home'));
$jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';



//setting up view global variables  PLEASE UPDATE SETTINGS HERE
$this->session->activeMenu = 'main';
$this->session->title = 'MAIN PAGE';
$this->session->jsroute = $jsroute;
?>

<?php //setting up application headers     ?>
<?php echo $this->partial($this->session->toolBar, array('session' => $this->session)); ?>
<?php echo $this->partial($this->session->path . 'style.phtml', array('session' => $this->session, 'service' => $service)); ?> 

<?php //Module/Section Layout begins  ?>
<div class="container-fluid">
<?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $this->session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'buttons.phtml', array('session' => $this->session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'search.phtml', array('session' => $this->session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'pagination.phtml', array('session' => $this->session, 'service' => $service)); ?>


</div>
