
<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b>xxx</b>
        </div>
        <div class="panel-body">

            <table class="table table-hover">
                <tr bgcolor="#dddddd" >
                    <th>ID#</th>
                    <th>TITLE</th>
                    <th>CREATED DATE</th>
                    <th>UPDATED DATE</th>
                    <th>STATUS</th>

                    <th class="t-c">Action</th>
                </tr>
                <tbody>
                    <?php foreach ($session->datas as $data) : ?>

                        <tr class="form">

                            <td>
                                <b><span style="color:#367FA9"><?php echo ($data['mongoID']); ?></span></b><br>
                            </td>

                            <td>
                                <?php if (isset($data['title'])) echo $data['title']; ?>
                            </td>

                            <td>
                                <?php if (isset($data['dateCreatedMonth'])) echo $data['dateCreatedMonth']; ?>/
                                <?php if (isset($data['dateCreatedDay'])) echo $data['dateCreatedDay']; ?>/
                                <?php if (isset($data['dateCreatedYear'])) echo $data['dateCreatedYear']; ?>
                            </td>
                            <td>
                                <?php if (isset($data['dateUpdatedMonth'])) echo $data['dateUpdatedMonth']; ?>/
                                <?php if (isset($data['dateUpdatedDay'])) echo $data['dateUpdatedDay']; ?>/
                                <?php if (isset($data['dateUpdatedYear'])) echo $data['dateUpdatedYear']; ?>
                            </td>
                            <td>
                                <?php if ($data['status'] == 'pending') echo '<span class="label label-danger">Pending</span>'; ?>
                                <?php if ($data['status'] == 'blue') echo '<span class="label label-primary">blue</span>'; ?>
                                <?php if ($data['status'] == 'yellow') echo '<span class="label label-warning">yellow</span>'; ?>
                                <?php if ($data['status'] == 'green') echo '<span class="label label-success">green</span>'; ?>
                                <?php if ($data['status'] == 'grey') echo '<span class="label label-default">grey</span>'; ?>
                                <br />
                                <?php $flagUpload = false; ?>
                                <?php $flagUpload1 = false; ?>

                                <?php if (isset($data['upload'])) : ?>
                                    <?php foreach ($data['upload'] as $upload) : ?>
                                        <?php if (isset($upload['name']) && $upload['name'] != '') : ?>
                                            <?php $flagUpload = true; ?>
                                        <?php endif; ?>
                                    <?php endforeach; ?>  
                                <?php endif; ?>



                                <?php if (isset($data['upload1'])) : ?>
                                    <?php foreach ($data['upload1'] as $upload) : ?>
                                        <?php if (isset($upload['name']) && $upload['name'] != '') : ?>
                                            <?php $flagUpload1 = true; ?>
                                        <?php endif; ?>
                                    <?php endforeach; ?>  
                                <?php endif; ?>

                                <?php if ($flagUpload == true) : ?>
                                    <span style="color:#F93"><i class="glyphicon glyphicon-download-alt"><small>xxx</small></i></span>      
                                <?php endif; ?>

                                <?php if ($flagUpload1 == true) : ?>
                                    <span style="color:#50D050"> <i class="glyphicon glyphicon-download-alt"><small>xxx</small></i> </span>  
                                <?php endif; ?>
                            </td>
                            <td class="form" valign="top">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Action&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">

                                        <li><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'edit', 'id' => (string) $data['_id'])); ?>"><i class="glyphicon glyphicon-edit"></i> Edit</a></li>
                                        <!--<li><a href="<?php /* echo $this->url($this->session->route, array('action' => 'admin', 'view' => 'comments', 'layout' => 'view', 'id' => (string) $data['_id'])); */ ?>"><i class="glyphicon glyphicon-edit"></i>Comments</a></li>-->
                                        <!--<li><a href="<?php /* echo $this->url($this->session->route, array('action' => 'pdf', 'id' => (string) $data['_id'])); */ ?>"><i class="glyphicon glyphicon-download-alt"></i> Download PDF</a></li>-->

                                        <li><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'delete', 'id' => (string) $data['_id'])); ?>"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                                    </ul>
                                </div>

                            </td>
                        </tr>
                    <?php endforeach ?>
                </tbody>

            </table>
        </div>
    </div>
</div>  





