
<div class="container-fluid">

<?php
$this->session->useremail=null;
$url = $this->url('openenrollmentpro', array('action' => 'public', 'view' => 'emails', 'layout' => 'login'));
$jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
echo $jsroute;
?>

<div class="panel-body">

    <h1 class="app-title"></h1>
    <div class="app-subtitle">Login</div>
</div>
    
</div>