
<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b>Email Access Management</b>
        </div>
        <div class="panel-body">

            <table class="table table-hover">
                <tr bgcolor="#dddddd" >
                    <th>NAME</th>
                 <th>TITLE</th>
                 <th>ORGANIZATION</th>
                    <th>ACL</th>
                    <th>CREATED TIME</th>

                    <th class="t-c">Action</th>
                </tr>
                <tbody>
                    <?php foreach ($session->datas as $data) : ?>
                       
                        <tr class="form" id="course-<?php echo (string) $data['_id']; ?>">

                            <td class="form">
                                <b><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'edit', 'id' => (string) $data['_id'])); ?>">
                                     <?php echo ($data['fname']); ?> <?php echo ($data['lname']); ?></a></b><br>
                            </td>
                     <td class="form">
                                <?php echo $data['title']; ?>
                            </td>
                             <td class="form">
                                <?php echo $data['organization']; ?>
                            </td>

                            <td class="form">
                                <?php echo $data['ACL']; ?>
                            </td>

                             <td>

                        <?php if (isset($data['dateCreatedMonth'])) echo $data['dateCreatedMonth']; ?>/
                        <?php if (isset($data['dateCreatedDay'])) echo $data['dateCreatedDay']; ?>/
                        <?php if (isset($data['dateCreatedYear'])) echo $data['dateCreatedYear']; ?>
                    </td>

                            <td class="form" valign="top">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Action&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                    
                                            <li><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'edit', 'id' => (string) $data['_id'])); ?>"><i class="glyphicon glyphicon-edit"></i> Edit</a></li>
                                   
                                        <li><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'delete', 'id' => (string) $data['_id'])); ?>"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                                    </ul>
                                </div>

                            </td>
                        </tr>
                    <?php endforeach ?>
                </tbody>

            </table>
        </div></div></div>  
</div>




