

<div class="app-content">		    
    <form name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'html', 'view' => $this->session->view, 'layout' => 'edit', 'id' => $session->data['pid'])); ?>" method="post">

        <table class="full white">


            <tr>
                <td ><label for="theme"><?php echo $session->title; ?> Name</label></td>
                <td>

                    <?php echo $this->session->data["NAME"]; ?>

                </td>
            </tr>

            <tr>
                <td><label for="ladmin">School</label></td>
                <td>

                    <select name="SCHOOL_NAME">
                        <?php foreach ($this->session->radSchools as $school) : ?>
                            <option value="<?php echo $school['FULLNAME']; ?>"><?php echo $school['FULLNAME']; ?></option>
                        <?php endforeach; ?>
                </td>
            </tr>
            <tr>
                <td><label for="ladmin">Access Control Level</label></td>
                <td>
                    <select name="ACL">
                        <option value="Controller"  <?php if ($this->session->data["ACL"] == "Controller") echo "Selected"; ?>>Controller</option>
                        <option value="Editor" <?php if ($this->session->data["ACL"] == "Controller") echo "Selected"; ?> >Editor</option>
                        <option value="Admin" <?php if ($this->session->data["ACL"] == "Controller") echo "Selected"; ?> >Admin</option>
                </td>
            </tr>
        </table>

        <button type="submit" value="submit" name="submit" class="orange-btn">Edit <?php echo $session->title; ?></button>
        <a class="cancel-link" href="<?= $this->url($this->session->route, array('action' => 'html', 'view' => $this->session->view, 'layout' => 'home')); ?>">Cancel</a>
    </form>
</div>