



<?php /*if ($session->user["ACL"] == "Controller" || $session->user["ACL"] == "Admin") : */?>
    <div class="container-fluid">

        <button type="submit" value="submit" name="submit" class="btn btn-warning balign"> Delete </button>
        <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'home')); ?>">Cancel</a>
    </div>

<?php /*endif; */?>
</form>

</div>