<?php $this->session->data = $service->mongoFindOne($this->session->defaultDB, $this->session->view, $this->session->id); ?>

<?php
if ($this->session->post != null) {

    $service->mongoRemove($this->session->defaultDB, $this->session->view, $this->session->id);
    $this->session->post = null;
    echo $session->jsroute;
}
?>

<?php echo $this->partial($this->session->toolBar, array('session' => $session)); ?>

<?php //Layout begins  ?>
<div class="container-fluid">
    <div class="app-w magnet">	
        <?php echo $this->partial($this->session->path . 'open.phtml', array('session' => $session, 'service' => $service)); ?>
        <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session, 'service' => $service)); ?>
        <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session, 'service' => $service)); ?>
        <?php echo $this->partial($this->session->path . 'close.phtml', array('session' => $session, 'service' => $service)); ?>
    </div>
</div>