<div>
    <SPAN STYLE="color: #CC3300; font-size: 30pt"> <b><i>Are you sure you wish to delete?</i></b></span>
</div>
<br>

<div class="container">

    <table class="table">

        <div>
            <label for="Text">Status: </label>
            <?php if ($session->data['status'] == 'Pending') echo '<span class="label label-danger">Pending</span>'; ?>
            <?php if ($session->data['status'] == 'blue') echo '<span class="label label-primary">blue</span>'; ?>
            <?php if ($session->data['status'] == 'yellow') echo '<span class="label label-warning">yellow</span>'; ?>
            <?php if ($session->data['status'] == 'green') echo '<span class="label label-success">green</span>'; ?>
            <?php if ($session->data['status'] == 'grey') echo '<span class="label label-default">grey</span>'; ?>
        </div>  
        <div>
            <label for="Text">ID#: </label>
            <b><span style="color:#367FA9"><?php echo ($session->data['mongoID']); ?></span></b>
        </div>

        <div>
            <label for="Text">Title: </label>
            <?php if (isset($session->data['title'])) echo $session->data['title']; ?>
        </div>


    </table>
</div>




