

<?php if ($this->session->post != null) : ?>

    <?php
    $dbName = $this->session->defaultDB;
    $connection = new \MongoClient(); // connect
    $db = $connection->$dbName;
    $collectionTable = $db->emails;
    $data = $collectionTable->findOne(array('email' => $this->session->post['email']));
    var_dump($data);
    if ($data) {
        $this->session->loginError = 'Email already exists.';
        $this->session->post = null;
        $url = $this->url($this->session->route, array('action' => 'public', 'view' => 'main', 'layout' => 'home'));
        $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
        echo $jsroute;
    }

    $this->session->useremail = $this->session->post['email'];
    $service->mongoPost(array('dbName' => $this->session->defaultDB, 'table' => 'emails', 'fieldNames' => array('upload', 'upload1'), 'mongoID' => null, 'type' => 'add'), $_FILES, $this->session->post);

    $this->session->post = null;
    $url = $this->url('openenrollmentpro', array('action' => 'public', 'view' => 'main', 'layout' => 'home', 'session' => $session));
    $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
    echo $jsroute;
    ?>

<?php endif; ?>


<?php echo $this->partial($this->session->toolBar, array('session' => $session)); ?>

<?php $this->headTitle($this->session->title); ?>


<div class="app-w magnet">

<?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session)); ?>
<?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session)); ?>

</div>


