<div class="container-fluid">


    <div class="app-content">
           <form name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $session->view, 'layout' => 'add')); ?>" method="post">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Add Email Access</b>
            </div>
            <div class="panel-body">
                    <table class="table">
                        <input type="hidden" value="external" name="type"></input> 
                            <tr>
                            <td ><label class="label-inline" for="theme">Title:</label></td>
                            <td>
                                <input placeholder="" type="text" value="" name="title"></input>

                            </td>
                        </tr>
                         <tr>
                            <td ><label class="label-inline" for="theme">First Name:</label></td>
                            <td>
                                <input placeholder="first name" type="text" value="" name="fname"></input>

                            </td>
                        </tr>


                        <tr>
                            <td ><label class="label-inline" for="theme">Last Name:</label></td>
                            <td>
                                <input placeholder="last name" type="text" value="" name="lname"></input>

                            </td>
                        </tr>
                       
                         <tr>
                            <td ><label class="label-inline" for="theme">Organization:</label></td>
                            <td>
                                <input placeholder="" type="text" value="" name="organization"></input>

                            </td>
                        </tr>
                        <tr>
                            <td ><label class="label-inline" for="theme">Email Address:</label></td>
                            <td>
                                <input placeholder="user@domain.com" type="text" value="" name="email"></input>

                            </td>
                        </tr>

                        <tr>
                            <td ><label class="label-inline" for="theme">Password:</label></td>
                            <td>
                                <input placeholder="" type="text" value="" name="password"></input>

                            </td>
                        </tr>

                        


                        <tr>
                            <td><label class="label-inline" for="ladmin">Access Control Level</label></td>
                            <td>
                                <select class="btn btn-default" name="ACL">

                                    <option value="Registered">Registered</option>
                                </select>
                            </td>
                        </tr>
                    </table>


                 
            </div>
        </div>
      <button type="submit" value="submit" name="submit" class="btn btn-warning balign">Register</button>
                    <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $session->view, 'layout' => 'login')); ?>">Cancel</a>
                </form>
    </div>

</div>