<script>
    $(function() {
        // callback function to bring a hidden box back
        function callback() {
            setTimeout(function() {
                $("#effect").removeAttr("style").hide().fadeIn();
            }, 1000);
        }
        ;
        var options = {};

        $('.level-choice').on('click', function() {
            var el = $(this);
            var id = el.find('span').attr('data-id');
            var level = el.find('span').attr('data-level');
            var loader = el.find('img');

            // remove all icon-ok classes
            el.closest('.level-row').find('.icon-ok').removeClass('icon-ok');

            // highlight row to indicate a press
            el.closest('.level-row').effect('highlight');

            // show indicator while the data tables are updated
            loader.show();

            // ajax call
            $.ajax({
                type: "POST",
                url: '<?= $this->url($this->session->route, array('action' => 'levelAjax')); ?>',
                data: {level: level, id: id}
            })
                    .always(function(msg) {
                loader.hide();
                el.find('span').addClass('icon-ok');

                // show status bar
                var status = $('#app_alert');
                status.addClass('status-warn');
                status.html('Data saved <i class="icon-ok"></i>');
                status.fadeIn('fast');
                setTimeout(function() {
                    status.fadeOut()
                }, 500);
            });
        })
    })
</script>