

<table id="course-tbl" class="full white">
    <tr>
        <th width="30%" id="school">NAME</th>
        <th class="t-c" id="type">SCHOOL</th>

        <th class="t-c">Action</th>
    </tr>
    <tbody>
        <?php foreach ($session->datas as $data) : ?>

            <tr class="level-row" id="course-<?= $data['pid']; ?>">
                <td class="sortby">
                    <b><a href="<?php echo $this->url($this->session->route, array('action' => 'edit', 'id' => $data['pid'])); ?>"><?php echo $this->escapeHtml($data['NAME']); ?></a></b><br>
                </td>
                <td class="t-c"><?= $data['SCHOOL_NAME']; ?></td>

                <td class="t-c" valign="top">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="icon-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="<?php echo $this->url($this->session->route, array('action' => 'html', 'view' => $session->view, 'layout' => 'edit', 'id' => $data['pid'])); ?>"><i class="icon-edit"></i> Edit</a></li>
                            <li><a href="<?php echo $this->url($this->session->route, array('action' => 'html', 'view' => $session->view, 'layout' => 'delete', 'id' => $data['pid'])); ?>"><i class="icon-trash"></i> Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <?php endforeach ?>
    </tbody>
</table>


