


<div class="app-tbl-actions-t">	
    <div class="search-wdgt-w">
        <form name="<?php echo $this->session->view; ?>" action=" <?php echo $this->url($this->session->route, array('action' => 'html', 'view' => $session->view, 'layout' => 'home',)); ?>" method="post">
            <div class="ui-forms">
                <table>
                    <tr>
                        <td><input class="ui-text" placeholder="Search" type="text" name="SEARCH"></td>
                        <td>
                            <select class="ui-select" data-type="scope" name="TYPE">

                                <?php foreach ($this->session->searchOptions as $value) : ?>
                                    <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                                <?php endforeach; ?>



                            </select>

                            <select class="ui-select" data-type="scope" name="PAGECOUNT">
                                <?php for ($i = 10; $i < 110; $i = $i + 10) : ?>
                                    <option value="<?php echo $i; ?>" <?php if ($this->session->pageCount == $i) echo 'selected' ?>><?php echo 'Display ' . $i . ' Pages'; ?></option>
                                <?php endfor; ?>
                            </select>

                        </td>
                        <td><button class="ui-btn-go" type="submit"><i class="icon-search"></i></button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
