


<nav class="navbar navbar-inverse" role="navigation">



    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </span>    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li class=""><a href="<?php echo $this->url($this->session->route); ?>"><i class="glyphicon glyphicon-home"></i>&nbsp;Home</a></li>
      
            <li class=""><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => 'users', 'layout' => 'home')); ?>"><i class="glyphicon glyphicon-user"></i></i>&nbsp;Users</a></li>
            <li class=""><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => 'emails', 'layout' => 'home')); ?>"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Email</a></li>

        </ul>

    </div>

</nav>
