<?php $clientID = $this->InterActProfileIdentity()->getclientIDFC(); ?>
<?php

use RAD\Lib\Adapter\DataBase;
use RAD\Lib\Entity\RelationEntity;
use RAD\Lib\Entity\FieldsEntity;

$dbUsers = new DataBase('users', new RelationEntity(), $this->session->route);
$dbUsersFields = new DataBase('usersFields', new FieldsEntity, $this->session->route);
$userRelation = $dbUsersFields->getRow(array("data" => '1279788'));
$data = $dbUsersFields->unnormalizeData($userRelation->pid);
?>

<?php

//christian if you get a chance can you clean this up and make it HTML code with snippets.
$items = '<nav class="app-toolbar"><ul>';
$items .='<li><a ';
if ($session->activeMenu == 'main') {
    $items .= 'class="active"';
}

$items .=' href="' . $this->url($this->session->route) . '" ><i class="icon-file-text"></i> crystaltest </a></li>';


$items .='<li class="dropdown nav-wrap"><span class="dropdown-toggle';
if ($session->activeMenu == 'manage') {
    $items .= ' active';
}
$items .='" data-toggle="dropdown"><i class="icon-cogs"></i> Manage <i class="icon-angle-down"></i></span>


	                	<ul class="sub-nav dropdown-menu">
                           	<li><span><i class="icon-wrench"></i> Admin</span></li>           

<li><span><i class="icon-user"></i> Users</span></li>
                            <li><a href="' . $this->url($this->session->route, array('action' => 'html', 'view' => 'users')) . '">Admin Users </a></li>
                          
                          
                          
                        </ul>
	                </li>';

//}


$items .='</ul></nav>';

echo $items;