

<div class="app-content">		    
    <form name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'html', 'view' => $session->view, 'layout' => 'add')); ?>" method="post">
        <table class="full white">


            <tr>
                <td ><label for="theme"><?php echo $session->title; ?> Name</label></td>
                <td>

                    <input placeholder="Search" class="w-300 staff-search" type="text" value="" name="NAME"></input>

                </td>
            </tr>

            <tr>
                <td><label for="ladmin">School</label></td>
                <td>

                    <select name="SCHOOL_NAME">
                        <?php foreach ($this->session->radSchools as $school) : ?>
                            <option value="<?php echo $school['FULLNAME']; ?>"><?php echo $school['FULLNAME']; ?></option>
                        <?php endforeach; ?>
                </td>
            </tr>
            <tr>
                <td><label for="ladmin">Access Control Level</label></td>
                <td>
                    <select name="ACL">
                        <option value="Controller">Controller</option>
                        <option value="Editor">Editor</option>
                        <option value="Admin">Admin</option>
                </td>
            </tr>
        </table>

        <button type="submit" value="submit" name="submit" class="orange-btn">Save <?php echo $session->title; ?></button>
        <a class="cancel-link" href="<?= $this->url($this->session->route, array('action' => 'html', 'view' => $session->view, 'layout' => 'home')); ?>">Cancel</a>
    </form>
</div>