

<?php
$this->session->data=$service->mongoFindOne($this->session->defaultDB, $this->session->view, (string)$this->session->id);
if ($this->session->post != null) {

    $service->mongoPost(array('dbName' =>$this->session->defaultDB, 'table' => $this->session->view, 'fieldNames' => array('upload', 'upload1'), 'mongoID' => (string) $this->session->id, 'type' => 'edit'), $_FILES, $this->session->post, $this->session->data);

    $this->session->post = null;
    echo $session->jsroute;
}
?>


<?php echo $this->partial($this->session->toolBar, array('session' => $session)); ?>

<div class="container-fluid">
    <div class="app-w magnet">
        <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session)); ?>
        <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session)); ?>
    </div>
</div> 

<?php $session->data = null; ?>