<form class="form" name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'edit', 'id' => $session->id)); ?>" method="post">

      <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Add Email Access</b>
            </div>
            <div class="panel-body">
                    <table class="table">
                        <input type="hidden" value="external" name="type"></input> 
                         <tr>
                            <td ><label class="label-inline" for="theme">Title:</label></td>
                            <td>
                            <input name="title" value=' <?php echo $this->session->data["title"]; ?>' type='text' />

                            </td>
                        </tr>
                         <tr>
                            <td ><label class="label-inline" for="theme">First Name:</label></td>
                            <td>
                            <input name="fname" value=' <?php echo $this->session->data["fname"]; ?>' type='text' />

                            </td>
                        </tr>


                        <tr>
                            <td ><label class="label-inline" for="theme">Last Name:</label></td>
                            <td>
                            <input name="lname" value=' <?php echo $this->session->data["lname"]; ?>' type='text' />

                            </td>
                        </tr>
                          
                         <tr>
                            <td ><label class="label-inline" for="theme">Organization:</label></td>
                            <td>
                            <input name="organization" value=' <?php echo $this->session->data["organization"]; ?>' type='text' />

                            </td>
                        </tr>
                        <tr>
                            <td ><label class="label-inline" for="theme">Email Address:</label></td>
                            <td>
                            <input name="email" value=' <?php echo $this->session->data["email"]; ?>' type='text' />

                            </td>
                        </tr>

                        <tr>
                            <td ><label class="label-inline" for="theme">Password:</label></td>
                            <td>
                            <input name="password" value=' <?php echo $this->session->data["password"]; ?>' type='text' />

                            </td>
                        </tr>

                        


                        <tr>
                            <td><label class="label-inline" for="ACL">Access Control Level</label></td>
                            <td>
                                <select class="btn btn-default" name="ACL">
                                <option value="Registered" <?php if ($this->session->data["ACL"] == "Registered") echo "Selected"; ?> >Registered</option>
                                <option value="Committee" <?php if ($this->session->data["ACL"] == "Committee") echo "Selected"; ?> >Committee</option>
                            </select>
                            </td>
                        </tr>
                    </table>


                 
            </div>
        </div>

    <button type="submit" value="submit" name="submit" class="btn btn-warning balign">Save</button>
    <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home')); ?>">Cancel</a>
</form>