
<div class="pager">
    <?php if ($this->pageCount): ?>
        <?php if (isset($this->session->page)) $page = $this->session->page; ?>
        <div class="pager">
            <ul>


                <?php if (isset($this->previous)): ?>
                    <li><a href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $this->session->view, 'page' => $this->previous)); ?>">
                            &lt; Previous
                        </a></li>
                <?php else: ?>
                        <!-- <li><span class="disabled">Disabled</span></li> -->
                <?php endif; ?>


                <?php foreach ($this->pagesInRange as $page): ?>

                    <?php if ($page != $this->current): ?>
                        <li><a href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $this->session->view, 'page' => $page)); ?>">
                                <?php echo $page; ?>
                            </a></li>
                    <?php else: ?>
                        <li class="disabled"><span>
                                <?php echo $page; ?>
                            </span></li>
                    <?php endif; ?>
                <?php endforeach; ?>


                <?php if (isset($this->next)): ?>
                    <li><a href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $this->session->view, 'page' => $this->next)); ?>">
                            Next &gt;
                        </a></li>
                <?php else: ?>
                        <!-- <li><span class="disabled">Disabled</span></li> -->
                <?php endif; ?>
            </ul>

        </div>
    <?php endif; ?>
</div>