
<nav class="navbar navbar-inverse" role="navigation">
  
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
        
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </span>    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

            <li class=""><a href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => 'main', 'layout' => 'home')); ?>"><i class="glyphicon glyphicon-home"></i>Home</a></li>
        <?php if(isset($this->session->useremail)) : ?>
             <li class=""><a href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => 'emails', 'layout' => 'logout')); ?>"><i class="glyphicon glyphicon-home"></i> Log Out</a></li>
        <?php endif; ?>
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
     
</nav>
        