
<div class="container-fluid">
<?php echo $this->session->pwdResetError; ?>

<div class="app-content">		    
    <form name="es" action=" <?php echo $this->url('openenrollmentpro', array('action' => 'public', 'view'=>$session->view, 'layout' => 'pwdreset')); ?>" method="post">
        <table class="table-condensed">
            <tr>
                <td ><label for="email">Email Address</label></td>
                <td>

                    <input class="w-300" type="text" value="" name="EMAILRESET"></input>

                </td>
            </tr>

        </table>

        <button type="submit"  name="submit" class="orange-btn">Reset</button>

    </form>
</div>
    
</div>