
<?php

use RAD\Lib\Adapter\DataBase;
use RAD\Lib\Entity\RelationEntity;
use RAD\Lib\Entity\FieldsEntity;
use RAD\Lib\Entity\SchoolsEntity;
use Zend\Mail\Message;
use Zend\Mail\Transport\Smtp as SmtpTransport;
use Zend\Mail\Transport\SmtpOptions;
use Rareview\Model\ApplicationModel;

$db = new DataBase($this->session->view, new RelationEntity(), $this->session->defaultDB);
$dbFields = new DataBase($this->session->view . 'Fields', new FieldsEntity, $this->session->defaultDB);
$this->session->error=null;
?>
<?php if ($this->session->post['EMAILRESET'] != null) : ?>

    <?php
    $row = $dbFields->getRow(array('data' => $this->session->post['EMAILRESET']));
    $data = $dbFields->unnormalizeData($row->pid);
    
    if(isset($data['email'])){
    $message = new Message();
    $message->addTo($data['email']);
    $message->addFrom('no-reply@ccsd.net');
    $message->setSubject('Your password to Magnet Applications is: ' . $data["pwd"]);
    $message->setBody('Your password to Magnet Applications is: ' . $data["pwd"]);
    $transport = new SmtpTransport();
    $options = new SmtpOptions(array(
        'name' => 'server-smtp.ccsd.net',
        'host' => 'server-smtp.ccsd.net',
        'port' => '25',
    ));

    $transport->setOptions($options);
    $transport->send($message);
    $this->session->post = null;
    $this->session->error='Your username and password have been sent emailed to you.';
    $url = $this->url('Rareview', array('action' => 'public', 'view' => 'applications', 'layout' => 'home', 'session' => $session));
    $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
    echo $jsroute;
    }
    else{
        $this->session->pwdResetError='I could not find your email address in our system';
    }
    ?>

<?php endif; ?>


<?php echo $this->partial($this->session->toolBar, array('session' => $session)); ?>

<?php $this->headTitle('Magnet Application'); ?>


<div class="app-w magnet">

    <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session)); ?>
    <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session)); ?>
   

</div>


