<div class="container-fluid">
    <div class="btn-group">		    
        <form name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'delete', 'id' => (string) $session->id)); ?>" method="post">
          

            <table class="table">
                <tr>
                    <td ><label for="theme"><?php echo $session->title; ?> Name</label></td>
                    <td>

<?php if (isset($session->data['NAME'])) echo $session->data['NAME']; ?>

                    </td>
                </tr>

                <tr>
                    <td><label for="ladmin">Location Code:</label></td>
                    <td>
                    <?php if (isset($session->data['location_code'])) echo $session->data['location_code']; ?>

                    </td> 
                </tr>
                <tr>
                    <td><label for="ladmin">Access Control Level</label></td>
                    <td>
                       
                        <?php if (isset($session->data['ACL'])) echo $session->data['ACL']; ?>

                    </td>
                </tr>
            </table>

            <button type="submit"  name="submit" class="btn btn-warning balign"> Delete </button>
            <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'home')); ?>">Cancel</a>
        </form>
    </div>
</div>

