<?php $this->headTitle($session->title); ?>

<div class="container-fluid">
    <div class="app-title-w">
        <div class="app-breadcrumbs">
            <a href="<?= $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home')); ?>"> <i class="icon-double-angle-left"></i> Back to <?php echo $session->layout; ?></a>
        </div>
        <h1 class="app-title">Delete User</h1>
    </div>
</div>