<div class="container-fluid">
    <div class="btn-group">		    
        <form class="form" name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'edit', 'id' => $session->id)); ?>" method="post">
            <input name='createdTime' type="hidden" value='<?php echo $session->data["createdTime"]; ?>' />
            <input name='createdDay' type="hidden" value='<?php echo $session->data["createdDay"]; ?>' />
            <input name='createdMonth' type="hidden" value='<?php echo $session->data["createdMonth"]; ?>' />
            <input name='createdYear' type="hidden" value='<?php echo $session->data["createdYear"]; ?>' />
             <input name='CLIENTID' type="hidden" value='<?php echo $session->data["CLIENTID"]; ?>' />

            <table class="table">
                <tr>
                    <td ><label for="NAME"><?php echo $session->title; ?> Name</label></td>
                    <td>

                        <?php echo $this->session->data["NAME"]; ?>

                    </td>
                </tr>

                <tr>
                    <td><label for="location_code">Location Code:</label></td>
                    <td>
                        <input type="text" value="<?php echo $session->data["location_code"]; ?>" name="location_code"></input>
                    </td> 
                </tr>
                <tr>
                    <td><label for="ACL">Access Control Level</label></td>
                    <td>
                        <select class="btn btn-default dropdown-toggle" name="ACL">
                            <option value="User" <?php if ($session->data["ACL"] == "User") echo 'selected'; ?>>User</option>
                            <option value="Controller"  <?php if ($session->data["ACL"] == "Controller") echo 'selected'; ?>>Controller</option>
                        </select>    
                    </td>
                </tr>
            </table>

            <button type="submit"  name="submit" class="btn btn-warning balign"></i>Save </button>
            <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home')); ?>">Cancel</a>

        </form>
    </div>
</div>

