<div class="container-fluid">

    <table class="table"> 

        <table align="center">
            <tr>
               
                
                <td align="center">
                    <div class="container-fluid">

                        <strong>Clark County School District</strong><br />
                        English Language Learner Program<br />
                        Translation and Testing Office<br />
                        4260 Eucalyptus, Annex &quot;C&quot;<br />
                        Building 10<br />
                        Las Vegas, NV 89121<br />
                        702-855-7771
                    </div>
                </td>
                
            </tr>
        </table>                



        <center> <p><h2>Bilingual Psychology Services Appointment Confirmation</h2></p></center> 

    </table>




    <table class="table"> 
        <div class="container-fluid">

            <div class="panel-body">

                <div class="well">

                    <p>Confirmation Document created on: 

                        <b>
                            <?php if (isset($session->data['dateCreatedMonth'])) echo $session->data['dateCreatedMonth']; ?>/
                            <?php if (isset($session->data['dateCreatedDay'])) echo $session->data['dateCreatedDay']; ?>/
                            <?php if (isset($session->data['dateCreatedYear'])) echo $session->data['dateCreatedYear']; ?>
                        </b>
                        <br />
                    <p>Confirmation Number: 
                        <b>
                            <?php if (isset($session->data['mongoID'])) echo $session->data['mongoID']; ?>

                        </b>
                        <br />
                        Sample1: 

                        <b>
                            <?php if (isset($session->data['xxx'])) echo $session->data['xxx']; ?>/
                            <?php if (isset($session->data['xxx'])) echo $session->data['xxx']; ?>/
                            <?php if (isset($session->data['xxx'])) echo $session->data['xxx']; ?>
                        </b>


                        <br />
                        Sample2: 

                        <b>
                            <?php if (isset($session->data['xxx'])) echo $session->data['xxx']; ?>
                            
                        </b>


                        <br />
                   
                        Sample3: 

                        <b>
                            <?php if (isset($session->data['xxx'])) echo $session->data['xxx']; ?>
                            <?php if (isset($session->data['xxx'])) echo $session->data['xxx']; ?>
                        </b>
                           
                  
                        <br />
                        Comments or Special Instructions:
                        <b>
                            <?php if (isset($session->data['xxx'])) echo $session->data['xxx']; ?>

                        </b>
 
                        <br />
                        <br />
                        Please call the Translation Office at 702-855-7771 at least 1 work day prior to this scheduled
                        appointment for any cancellation. Changes in the date, time, or length of the appointment will
                        require a new request for a translator.</p>
                    
                    <p><br />
                        Please have the confirmation number, student Id number, and date of the appointment
                        available when calling.
                       
                    
                    
                    </p>

                </div>
            </div>
        </div>
    </table>
</div>
