


<?php if ($this->session->post != null) : ?>

    <?php

    $this->session->post['type']='external';
    $service->mongoPost(array('dbName'=>$this->session->defaultDB, 'table' =>$this->session->view, 'fieldNames'=>array('upload','upload1'), 'mongoID'=>null, 'type'=>'add'), $_FILES,  $this->session->post);

    $this->session->post = null;
    $url = $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home'));
    $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
    echo $jsroute;
    ?>

<?php endif; ?>

<?php echo $this->partial($this->session->toolBar, array('session' => $session)); ?>

<?php $this->headTitle($this->session->title); ?>


<div class="container-fluid">
    <div class="app-w magnet">
        <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session)); ?>
        <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session)); ?>
    </div>
</div>


