<div class="app-actions-t">
    <div class="t-r">
        <a class="blue-btn small-btn" href="<?php echo $this->url($this->session->route, array('action' => 'html', 'view'=>$this->session->view,'layout' => 'add'));  ?>">Add <?php echo $session->title; ?><i class="icon-plus"></i></a>
    </div>

</div>