<?php

use RAD\Lib\Adapter\DataBase;
use RAD\Lib\Entity\RelationEntity;
use RAD\Lib\Entity\FieldsEntity;

$db = new DataBase($this->session->view, new RelationEntity(), $this->session->defaultDB);
$dbFields = new DataBase($this->session->view . 'Fields', new FieldsEntity, $this->session->defaultDB);
//$db->createTables($this->session->view);
$name = null; //please change this to the field you want to sort by.
$where = null;
$datas = array();
if ($name != null)
    $where = "name='" . $name . "' order by data asc";


if ($this->session->post != null) {
    $this->session->pageCount = $this->session->post['PAGECOUNT'];
    $search = '%' . $this->session->post['SEARCH'] . '%';
    $type = $this->session->post['TYPE'];

    $where = "name='$type' and data like '$search' order by data asc";
    $this->session->post = null;
}

//Setting up entities for pagination control
$entities = $dbFields->fetchAllPages($where);
$entities->setCurrentPageNumber($this->session->page);
$entities->setItemCountPerPage($this->session->pageCount);

//setting search menu items - removing submit as an option
$searchOptions = $dbFields->getNormalizedDistinct(array("submit" => 'submit'));

//preparing normalize data for view hydration
foreach ($entities as $entity) {
    $datas[] = $dbFields->unnormalizeData($entity->pid);
}

//setups pages to redirect to home page.
$url = $this->url($this->session->route, array('action' => 'html', 'view' => $this->session->view, 'layout' => 'home'));
$jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';


//setting up view global variables  PLEASE UPDATE SETTINGS HERE
$this->session->activeMenu = 'main';
$this->session->title = 'Main';
$this->session->datas = $datas;
$this->session->jsroute = $jsroute;
$this->session->searchOptions = $searchOptions;
?>

<?php //setting up application headers  ?>
<?php echo $this->partial($this->session->toolBar, array('session' => $this->session)); ?>
<?php echo $this->partial($this->session->path . 'style.phtml', array('session' => $this->session)); ?> 

<?php //Module/Section Layout begins ?>
<div class="app-w magnet">
    <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $this->session)); ?>
    <?php echo $this->partial($this->session->path . 'buttons.phtml', array('session' => $this->session)); ?>
    <?php echo $this->partial($this->session->path . 'search.phtml', array('session' => $this->session)); ?>
    <?php echo $this->partial($this->session->path . 'pagination.phtml', array('session' => $this->session)); ?>
    <?php echo (count($entities) > 1 ) ? $this->paginationControl($entities, 'Sliding', $this->session->paginationLayout, array('entites' => $entities, 'session' => $this->session)) : ""; ?>

</div>



<?php //Java Script begins  ?>
<?php echo $this->partial($this->session->path . 'js.phtml', array('session' => $this->session, 'entities' => $entities)); ?>