

<div class="app-content">		    
    <form name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'html', 'view'=>$session->view, 'layout' => 'add')); ?>" method="post">
        <table class="full white">
            <tr>
                <td ><label for="theme"><?php echo $session->title; ?> Name</label></td>
                <td>

                    <input class="w-300" type="text" value="" name="THEME"></input>

                </td>
            </tr>

            <tr>
                <td><label for="ladmin">Grade Level</label></td>
                <td>

                    <select name="GRADELEVEL">
                        <option value="ES">ES</option>
                        <option value="MS">MS</option>
                        <option value="HS">HS</option>
                </td>
            </tr>
        </table>

        <button type="submit" value="submit" name="submit" class="orange-btn">Save <?php echo $session->title; ?></button>
        <a class="cancel-link" href="<?= $this->url($this->session->route, array('action' => 'html', 'view'=>$session->view, 'layout' => 'home')); ?>">Cancel</a>
    </form>
</div>