<?php if ($this->session->post != null) : ?>

    <?php
    //Get Users info form CIS and INTERACT/FIRST CLASS
    $userInfo = $service->getFCUser($this->session->fcuser['CLIENTID']);

    //User only sees what they created
    $this->session->post['added_by_clientID'] = $this->session->fcuser['CLIENTID'];

    //Modify By
    $this->session->post['modify_by_clientID'] = $this->session->fcuser['CLIENTID'];




    //LOGS
    $counter = $service->mongoCounter($this->session->defaultDB, 'logs', $startCounter = 1);
    $date = date_create();
    $dateMonth = $date->format('m');
    $dateDay = $date->format('d');
    $dateYear = $date->format('Y');
    $dateTime = $date->format('H:i:s');

    //var_dump($userInfo);
    $this->session->post['log'][$counter]['modify_by_date'] = $dateMonth . '/' . $dateDay . '/' . $dateYear . ' ' . $dateTime;
    $this->session->post['log'][$counter]['modify_by_clientID'] = $this->session->fcuser['CLIENTID'];
    $this->session->post['log'][$counter]['first_name'] = $userInfo['FNAME'];
    $this->session->post['log'][$counter]['last_name'] = $userInfo['LNAME'];


    //posting data in database. 
    $service->mongoPost(array('dbName' => $this->session->defaultDB, 'table' => 'main', 'fieldNames' => array('upload', 'upload1'), 'mongoID' => null, 'type' => 'add'), $_FILES, $this->session->post);
    $this->session->post = null;


    $url = $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home'));
    $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
    echo $jsroute;
    ?>


<?php endif; ?>
<!--// documentation resources //-->
<script src='/uploads/jquery.js' type="text/javascript"></script>
<script src='/uploads/jquery.form.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MultiFile.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.blockUI.js' type="text/javascript" language="javascript"></script>

<?php echo $this->partial($this->session->toolBar, array('session' => $session, 'service' => $service)); ?>

<?php $this->headTitle($this->session->title); ?>


<div class="app-w magnet">
    <?php echo $this->partial($this->session->path . 'open.phtml', array('session' => $session, 'service' => $service)); ?>
    <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session, 'service' => $service)); ?>
    <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session, 'service' => $service)); ?>
    <?php echo $this->partial($this->session->path . 'close.phtml', array('session' => $session, 'service' => $service)); ?>

</div>


