<div panel-heading>
    <p>
        <label for="name">Status: </label>

        <select class="btn btn-default dropdown-toggle" name="status">
            <option value="pending">Pending</option>    
        </select>

    </p>
</div> 
<!--START NEW CALL ENTRY-->
<div class="panel panel-primary">
    <div class="panel-heading"><b>Sample Template Fields
        </b></div>
    <div class="panel-body">

        <table class="table">
            <label for="ce_ci"><h3><b>Sample Fields</b></h3> </label><br>

            <div>
                <label for="Text">Sample Name: </label>
                <input  class="input-xlarge"  placeholder="First Name" type="text" name="namefirst" value="" > 
                <input  class="input-xlarge"  placeholder="Last Name" type="text" name="namelast" value="" > 

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Sample Title: </label>
                <input  class="input-xlarge"  placeholder="title"  type="text" name="title" value="" >  
                <br />
                <label for="Text">Sample Short Input: </label>
                <input  class="input-xlarge"  placeholder="e.g.1234" size="5" type="text" name="xxx_short" value="" >
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="ce_callbgrequested">Sample Yes/No Select: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="xxx_yesno"> 
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select> 
            </div>  
        </table>
        <table class="table">
            <div>


                <label for="ce_calltype">Sample Select </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="ce_calltype"> 
                    <option value="xxx1">xx1</option>
                    <option value="xxx2">xxx2</option>
                </select> 


                &nbsp;&nbsp;&nbsp;&nbsp;


                <label for="ce_date">Sample Date:  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                Month
                <select class="btn btn-default dropdown-toggle" name="xxx_month">
                    <?php for ($x = 1; $x < 13; $x++): ?>        
                        <option value="<?php echo $x; ?>"   ><?php echo $x; ?></option>  
                    <?php endfor; ?>

                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                day: 
                <select class="btn btn-default dropdown-toggle" name="xxx_day">
                    <?php for ($x = 1; $x < 32; $x++): ?>        
                        <option value="<?php echo $x; ?>"   ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                year: 
                <select class="btn btn-default dropdown-toggle" name="xxxx_year">
                    <?php for ($x = 2014; $x < 2016; $x++): ?>        
                        <option value="<?php echo $x; ?>"   ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
                <br><br>

                <label for="ce_lunch">Sample Time:  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                Hour: 
                <select class="btn btn-default dropdown-toggle" name="xxx_hour">
                    <?php for ($i = 1; $i < 13; $i++) : ?>
                        <option value="<?php echo $i; ?>" ><?php echo $i; ?></option>  
                    <?php endfor; ?>
                </select>

                &nbsp;&nbsp;&nbsp;&nbsp;
                Minutes: 
                <select class="btn btn-default dropdown-toggle" name="xxx_min">
                    <?php for ($x = 1; $x < 60; $x++) : ?>
                        <option value="<?php echo $x; ?>" ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>                                
                &nbsp;&nbsp;&nbsp;&nbsp;
                <select type="text" class="btn btn-default dropdown-toggle" name="xxx_ampm">
                    <option  value="am">AM</option>  
                    <option  value="pm">PM</option>  
                </select>      
                <br />
                <label for="Text">Sample Text Box: </label>
                <textarea rows="3" cols="5" class="col-xs-12" id="description101" name="xxx_textbox"></textarea>


            </div>
</table>
        </div>
        </div>