
    <div class="app-title-w">
        <div class="app-breadcrumbs">
            <a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home')); ?>"> <i class="icon-double-angle-left"></i> Back to <?php echo $session->title; ?></a>
        </div> 
        <h1 class="app-title">Add New <?php echo $session->title; ?></h1>
    </div>
