


<?php if ($session->user["ACL"] == "Controller" || $session->user["ACL"] == "Admin") : ?>



    <div class="container-fluid">
        <div class="row">
       


              
                  
                    <div class="panel-body">
                        <table class="table"> 
      <div class="panel-heading"><b>LOGS</b></div>

                            <thead>
                                <tr bgcolor="#dddddd">
                                    <th class="t-c" id="type"><small>CLIENT ID</small></th> 
                                    <th class="t-c" ><small>TIME STAMP</small></th>
                                    <th class="t-c" id=""><small>FIRST NAME</small></th>
                          
                                    <th class="t-c" id="type"><small>LAST NAME</small></th> 
                                </tr>
                                
                                <?php foreach($this->session->data['log'] as $log) : ?>
                               
                                
                                <tr> 
                                    <td><small><?php echo $log['modify_by_clientID']; ?></small></td>
                                    <td> <small>  <?php echo $log['modify_by_date']; ?></small></td>
                                    <td> <small><?php echo $log['first_name']; ?> </small></td>
                                    <td><small><?php echo $log['last_name']; ?> </small> </td>
                                </tr>          

                                 <?php endforeach ?>
                                
                        </table>
                    </div>
        
        </div>

    </div>


<?php endif; ?>
