


<div class="panel panel-primary">
    <div class="panel-heading"><b>Parent Information
        </b></div>
    <div class="panel-body">

        <table>

            <div>

                <label for="Text">Parent First Name: </label>
                <input class="input-xlarge" type="text" name="main_parent_first" value="<?php if (isset($session->data['main_parent_first'])) echo $session->data['main_parent_first']; ?>" ></input>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Parent Last Name: </label>
                <input class="input-xlarge" type="text" name="main_parent_last" value="<?php if (isset($session->data['main_parent_last'])) echo $session->data['main_parent_last']; ?>" ></input>

            </div>  

            <div>

                <label for="Text">Phone: </label>
                <input class="input-xlarge" type="text" name="main_phone" value="<?php if (isset($session->data['main_phone'])) echo $session->data['main_phone']; ?>" ></input>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Work Phone: </label>
                <input class="input-xlarge" type="text" name="main_workphone" value="<?php if (isset($session->data['main_workphone'])) echo $session->data['main_workphone']; ?>" ></input>

            </div>  

            <div>

                <label for="Text">Email: </label>
                <input class="input-xlarge" type="text" name="main_email" value="<?php if (isset($session->data['main_email'])) echo $session->data['main_email']; ?>" ></input>


            </div> 
            <div>

                <label for="Text">Address: </label>
                <input class="input-xlarge" type="text" name="main_address" value="<?php if (isset($session->data['main_address'])) echo $session->data['main_address']; ?>" ></input>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Apartment/Unit: </label>
                <input class="input-xlarge" type="text" name="main_apt" value="<?php if (isset($session->data['main_apt'])) echo $session->data['main_apt']; ?>" ></input>

            </div>
            <div>

                <label for="Text">City: </label>
                <input class="input-xlarge" type="text" name="main_city" value="<?php if (isset($session->data['main_city'])) echo $session->data['main_city']; ?>" ></input>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">State: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="main_state">
                    <option  value="NA" <?php if ($session->data['main_state'] == 'NA') echo 'selected'; ?>>Select...</option>    
                    <option value="AL" <?php if ($session->data['main_state'] == 'AL') echo 'selected'; ?>>Alabama</option>
                    <option value="AK" <?php if ($session->data['main_state'] == 'AK') echo 'selected'; ?>>Alaska</option>
                    <option value="AZ" <?php if ($session->data['main_state'] == 'AZ') echo 'selected'; ?>>Arizona</option>
                    <option value="AR" <?php if ($session->data['main_state'] == 'AR') echo 'selected'; ?>>Arkansas</option>
                    <option value="CA" <?php if ($session->data['main_state'] == 'CA') echo 'selected'; ?>>California</option>
                    <option value="CO" <?php if ($session->data['main_state'] == 'CO') echo 'selected'; ?>>Colorado</option>
                    <option value="CT" <?php if ($session->data['main_state'] == 'CT') echo 'selected'; ?>>Connecticut</option>
                    <option value="DE" <?php if ($session->data['main_state'] == 'DE') echo 'selected'; ?>>Delaware</option>
                    <option value="DC" <?php if ($session->data['main_state'] == 'DC') echo 'selected'; ?>>District Of Columbia</option>
                    <option value="FL" <?php if ($session->data['main_state'] == 'FL') echo 'selected'; ?>>Florida</option>
                    <option value="GA" <?php if ($session->data['main_state'] == 'GA') echo 'selected'; ?>>Georgia</option>
                    <option value="HI" <?php if ($session->data['main_state'] == 'HI') echo 'selected'; ?>>Hawaii</option>
                    <option value="ID" <?php if ($session->data['main_state'] == 'ID') echo 'selected'; ?>>Idaho</option>
                    <option value="IL" <?php if ($session->data['main_state'] == 'IL') echo 'selected'; ?>>Illinois</option>
                    <option value="IN" <?php if ($session->data['main_state'] == 'IN') echo 'selected'; ?>>Indiana</option>
                    <option value="IA" <?php if ($session->data['main_state'] == 'IA') echo 'selected'; ?>>Iowa</option>
                    <option value="KS" <?php if ($session->data['main_state'] == 'KS') echo 'selected'; ?>>Kansas</option>
                    <option value="KY" <?php if ($session->data['main_state'] == 'KY') echo 'selected'; ?>>Kentucky</option>
                    <option value="LA" <?php if ($session->data['main_state'] == 'LA') echo 'selected'; ?>>Louisiana</option>
                    <option value="ME" <?php if ($session->data['main_state'] == 'ME') echo 'selected'; ?>>Maine</option>
                    <option value="MD" <?php if ($session->data['main_state'] == 'MD') echo 'selected'; ?>>Maryland</option>
                    <option value="MA" <?php if ($session->data['main_state'] == 'MA') echo 'selected'; ?>>Massachusetts</option>
                    <option value="MI" <?php if ($session->data['main_state'] == 'MI') echo 'selected'; ?>>Michigan</option>
                    <option value="MN" <?php if ($session->data['main_state'] == 'MN') echo 'selected'; ?>>Minnesota</option>
                    <option value="MS" <?php if ($session->data['main_state'] == 'MS') echo 'selected'; ?>>Mississippi</option>
                    <option value="MO" <?php if ($session->data['main_state'] == 'MO') echo 'selected'; ?>>Missouri</option>
                    <option value="MT" <?php if ($session->data['main_state'] == 'MT') echo 'selected'; ?>>Montana</option>
                    <option value="NE" <?php if ($session->data['main_state'] == 'NE') echo 'selected'; ?>>Nebraska</option>
                    <option value="NV" <?php if ($session->data['main_state'] == 'NV') echo 'selected'; ?>>Nevada</option>
                    <option value="NH" <?php if ($session->data['main_state'] == 'MH') echo 'selected'; ?>>New Hampshire</option>
                    <option value="NJ" <?php if ($session->data['main_state'] == 'NJ') echo 'selected'; ?>>New Jersey</option>
                    <option value="NM" <?php if ($session->data['main_state'] == 'NM') echo 'selected'; ?>>New Mexico</option>
                    <option value="NY" <?php if ($session->data['main_state'] == 'NY') echo 'selected'; ?>>New York</option>
                    <option value="NC" <?php if ($session->data['main_state'] == 'NC') echo 'selected'; ?>>North Carolina</option>
                    <option value="ND" <?php if ($session->data['main_state'] == 'ND') echo 'selected'; ?>>North Dakota</option>
                    <option value="OH" <?php if ($session->data['main_state'] == 'OH') echo 'selected'; ?>>Ohio</option>
                    <option value="OK" <?php if ($session->data['main_state'] == 'OK') echo 'selected'; ?>>Oklahoma</option>
                    <option value="OR" <?php if ($session->data['main_state'] == 'OR') echo 'selected'; ?>>Oregon</option>
                    <option value="PA" <?php if ($session->data['main_state'] == 'PA') echo 'selected'; ?>>Pennsylvania</option>
                    <option value="RI" <?php if ($session->data['main_state'] == 'RI') echo 'selected'; ?>>Rhode Island</option>
                    <option value="SC" <?php if ($session->data['main_state'] == 'SC') echo 'selected'; ?>>South Carolina</option>
                    <option value="SD" <?php if ($session->data['main_state'] == 'SD') echo 'selected'; ?>>South Dakota</option>
                    <option value="TN" <?php if ($session->data['main_state'] == 'TN') echo 'selected'; ?>>Tennessee</option>
                    <option value="TX" <?php if ($session->data['main_state'] == 'TX') echo 'selected'; ?>>Texas</option>
                    <option value="UT" <?php if ($session->data['main_state'] == 'UT') echo 'selected'; ?>>Utah</option>
                    <option value="VT" <?php if ($session->data['main_state'] == 'VT') echo 'selected'; ?> >Vermont</option>
                    <option value="VA" <?php if ($session->data['main_state'] == 'VA') echo 'selected'; ?>>Virginia</option>
                    <option value="WA" <?php if ($session->data['main_state'] == 'WA') echo 'selected'; ?>>Washington</option>
                    <option value="WV" <?php if ($session->data['main_state'] == 'WV') echo 'selected'; ?>>West Virginia</option>
                    <option value="WI" <?php if ($session->data['main_state'] == 'WI') echo 'selected'; ?>>Wisconsin</option>
                    <option value="WY" <?php if ($session->data['main_state'] == 'WY') echo 'selected'; ?>>Wyoming</option>

                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Zip Code: </label>
                <input class="input-xlarge" type="text" name="main_zip" value="<?php if (isset($session->data['main_zip'])) echo $session->data['main_zip']; ?>" ></input>

            </div>

        </table>
    </div>
</div>










