


<div class="panel panel-primary">
    <div class="panel-heading"><b>School Selection
        </b></div>
    <div class="panel-body">

        <table>
       

                    <div>
                        <label for="Text">Choice 1: </label>
                  <select type="text" class="btn btn-default dropdown-toggle" name="main_school_choice1">
                            <option  value="NA" <?php if ($session->data['main_school_choice1'] == 'NA') echo 'selected'; ?>>Select...</option> 
                            <option value="xxxxxx" <?php if ($session->data['main_school_choice1'] == 'xxxxxx') echo 'selected'; ?>>xxxxx</option>
                  </select>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <label for="Text">Choice 2: </label>
                        <select type="text" class="btn btn-default dropdown-toggle" name="main_school_choice2">
                             <option  value="NA" <?php if ($session->data['main_school_choice2'] == 'NA') echo 'selected'; ?>>Select...</option> 
                            <option value="xxxxxx" <?php if ($session->data['main_school_choice2'] == 'xxxxxx') echo 'selected'; ?>>xxxxx</option>
                           
                        </select> 
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <label for="Text">Choice 3:</label>
                        <select type="text" class="btn btn-default dropdown-toggle" name="main_school_choice3">
                             <option  value="NA" <?php if ($session->data['main_school_choice3'] == 'NA') echo 'selected'; ?>>Select...</option> 
                            <option value="xxxxxx" <?php if ($session->data['main_school_choice3'] == 'xxxxxx') echo 'selected'; ?>>xxxxx</option>
                        </select>
                    </div>  
                   
                 
       </table>
    </div>
</div>










