
<div panel-heading>
    <p>
        <label for="name">Status: </label>

        <select class="btn btn-default dropdown-toggle" name="status">
            <option value="pending">Pending</option>    
        </select>

    </p>
</div> 

<div class="panel panel-primary">
    <div class="panel-heading"><b>Student Information
        </b></div>
    <div class="panel-body">

        <table>

            <div>
                <label for="Text">Last Name: </label>
                <input class="input-xlarge" type="text" name="main_name_last" value="<?php if (isset($session->data['main_name_last'])) echo $session->data['main_name_last']; ?>" ></input>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">First Name: </label>
                <input class="input-xlarge" type="text" name="main_name_first" value="<?php if (isset($session->data['main_name_first'])) echo $session->data['main_name_first']; ?>" ></input>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Middle Name: </label>
                <input class="input-xlarge" type="text" name="main_name_middle" value="<?php if (isset($session->data['main_name_middle'])) echo $session->data['main_name_middle']; ?>" ></input>


            </div>  
            <div>
                <label for="Text">Student Number: </label>
                <input class="input-xlarge" type="text" name="main_student_number" value="<?php if (isset($session->data['main_student_number'])) echo $session->data['main_student_number']; ?>" ></input>

                &nbsp;&nbsp;&nbsp;&nbsp;

                <label for="main_date">Birth Date: </label>
                month: 
                <select class="btn btn-default dropdown-toggle" name="main_birth_month">
                    <?php
                    for ($x = 1; $x < 13; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['main_birth_month'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
                day: 
                <select class="btn btn-default dropdown-toggle" name="main_birth_day">
                    <?php
                    for ($x = 1; $x < 32; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['main_birth_day'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  

                    <?php endfor; ?>
                </select>
                year: 
                <select class="btn btn-default dropdown-toggle" name="main_birth_year">
                    <?php
                    for ($x = 2014; $x < 2016; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['main_birth_year'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>     
            </div>



            <div>
                <label for="Text">Grade (Next Year): </label>
                         <select class="btn btn-default dropdown-toggle" name="main_grade">
                    <?php
                    for ($x = 1; $x < 13; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['main_grade'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Current School: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="main_current_school">
                                    <option  value="NA" <?php if ($session->data['main_current_school'] == 'NA') echo 'selected'; ?>>Select...</option> 
                    <option value="xxxxxx" <?php if ($session->data['main_current_school'] == 'xxxxxx') echo 'selected'; ?>>xxxxx</option>
                </select> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Home Language: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="main_home_language">
                    <option  value="NA" <?php if ($session->data['main_home_language'] == 'NA') echo 'selected'; ?>>Select...</option> 
                  <option  value="English" <?php if ($session->data['main_home_language'] == 'English') echo 'selected'; ?>>English</option> 
                    <option value="Spanish" <?php if ($session->data['main_home_language'] == 'Spanish') echo 'selected'; ?>>Spanish</option>
                </select>
            </div>  


        </table>
    </div>
</div>










