
<div class="container-fluid">
<div class="app-actions-t">
    <div class="t-r" align="right">
        <a class="btn btn-primary" href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view'=>$this->session->view,'layout' => 'add'));  ?>">
            <i class="glyphicon glyphicon-plus"></i>Add Request</a><br /><br />
    </div>

</div>
</div>