<?php

if(!isset($this->session->useremail)){
$url = $this->url($this->session->route, array('action' => 'public', 'view' => 'emails', 'layout' => 'login'));
$jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
echo $jsroute;
}
//Grabing all data to display
$connection = new MongoClient(); // connect
$dbName = $this->session->defaultDB;
$db = $connection->$dbName;
$collectionTable = $db->main;
$search=array();
$this->session->datas = $collectionTable->find($search); //finds everything in collection
$this->session->post = null;

						
 //User can only see and search their form created
// if($this->session->user['ACL']=='Division'){
//     $search=array('added_by_clientID'=>$this->session->fcuser['CLIENTID']);
// }
//  if($this->session->user['ACL']=='Committee'){
//     $search=array('added_by_clientID'=>$this->session->fcuser['CLIENTID']);
// }
//   
//setting up routing
$url = $this->url($this->session->route, array('action' => 'public', 'view' => $this->session->view, 'layout' => 'home'));
$jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';

//setting up view global variables  PLEASE UPDATE SETTINGS HERE
$this->session->activeMenu = 'main';
$this->session->title = 'Main';
$this->session->jsroute = $jsroute;
?>

<?php //setting up application headers     ?>
<?php echo $this->partial($this->session->toolBar, array('session' => $this->session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'style.phtml', array('session' => $this->session, 'service' => $service)); ?> 

<?php // Layout begins  ?>
<div class="container-fluid">
<?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $this->session, 'service' => $service)); ?>
   <?php echo $this->partial($this->session->path . 'pagination.phtml', array('session' => $this->session, 'service' => $service)); ?>

</div>

