<?php ?>




<div class="container-fluid">

    <table  class="table table-condensed" >


        <thead>
            <tr bgcolor="#dddddd">
                <th class="form" id="">ID#</th>
                <th class="form" id="">Applicant</th>
                <th class="form" id="">Address</th>                 
                <th class="form" id="type">School Choices</th>
                <th class="form" id="type">Status</th> 
                <th class="form">Action</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($session->datas as $data) : ?>

                <tr class="level-row" id="course-<?php echo (string) $data['mongoID']; ?>">
                    <td class="sortby">
                        <b><span style="color:#367FA9"><?php echo ($data['mongoID']); ?></span></b><br>
                    </td>


                    <td class="">
                        <span style="color:#367FA9">
                            <b>
                                <?php if (isset($data['main_name_first'])) echo $data['main_name_first']; ?>
                                <?php if (isset($data['main_name_middle'])) echo $data['main_name_middle']; ?>
                                <?php if (isset($data['main_name_last'])) echo $data['main_name_last']; ?>
                            </b>
                        </span>
                        <br>
                    
                        <small><b>Birthdate:</b></small>
                        <?php if (isset($data['main_birth_month'])) echo $data['main_birth_month']; ?>/
                        <?php if (isset($data['main_birth_day'])) echo $data['main_birth_day']; ?>/
                        <?php if (isset($data['main_birth_year'])) echo $data['main_birth_year']; ?><br>

                        <small><b>Grade (Next Year): </b></small>
                        <?php if (isset($data['main_grade'])) echo $data['main_grade']; ?>


                        <br>
                        <small><b>Current School:</b> </small>
                        <?php if (isset($data['main_current_school'])) echo $data['main_current_school']; ?>

                    </td>
                    <td>

                        <?php if (isset($data['main_address'])) echo $data['main_address']; ?><br>
                        <?php if (isset($data['main_city'])) echo $data['main_city']; ?>,
                        <?php if (isset($data['main_state'])) echo $data['main_state']; ?>
                        <?php if (isset($data['main_zip'])) echo $data['main_zip']; ?>


                    </td>
                    <td>
                        <span class="choice-lbl">1</span>
                        <?php if (isset($data['main_school_choice1'])) echo $data['main_school_choice1']; ?><br>
                        <span class="choice-lbl">2</span>
                        <?php if (isset($data['main_school_choice2'])) echo $data['main_school_choice2']; ?><br>
                        <span class="choice-lbl">3</span>
                        <?php if (isset($data['main_school_choice3'])) echo $data['main_school_choice3']; ?><br>

                    </td>
                    <td>



                        <?php if ($data['status'] == 'pending') echo '<span class="label label-danger">Pending</span>'; ?>


                    </td>


                   
                        
                            <td valign="top">

                      <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => 'main', 'layout' => 'add')); ?>">Select</a>

                            </td>


                

                  

                             <?php endforeach ?>
        </tbody>
    </table>



