


 <div class="container-fluid">	
   <div class="navbar-form navbar-right">
        <form name="<?php echo $this->session->view; ?>" action=" <?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $session->view, 'layout' => 'home',)); ?>" method="post">
         
               
                    
                       <input class="ui-text" placeholder="Search" type="text" name="SEARCH">
                        
                            <select class="btn btn-default dropdown-toggle" data-type="scope" name="TYPE">

                                     <option value="status">Status</option>
  
                            </select>

                       
                              <input class="ui-text" placeholder="Item Count" type="text" name="ITEMCOUNT">
                       
                     
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
               
            </div>
         
            
               
           
        </form>
   </div>
   

