<div class="container-fluid">
    <div class="btn-group">

        <table class="table table-condensed">


            <?php foreach ($this->session->data as $data) : ?>

                <tr>

                    <td>
                        <small>
                            <label for="text">By: </label>
                            <span style="color:#58B"><?php echo $data["username"]; ?></span> 
                            on  <span style="color:red"> <?php echo $data["created"]; ?> </span>
                            &nbsp;&nbsp;
                            <?php if ($data['modifiedBy'] != '') : ?>

                                <label for="text"> Modify by:</label> 
                                <span style="color:#58B"><?php echo $data["modifiedBy"]; ?></span>
                            <?php endif; ?>

                            <?php if ($data['modifiedDate'] != '') : ?>
                                on  <span style="color:red"> <?php echo $data["modifiedDate"]; ?> </span>
                            <?php endif; ?>

                            <br />
                            <label for="text">Comment:</label>
                            <?php echo $data["comment"]; ?>
                            <br />
                            <?php if ($this->session->user['ACL'] == 'Controller') : ?>
                                <a class="btn btn-default btn-xs balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'edit', 'id' => (string) $data['_id'])); ?>">Edit Comment</a>

                            <?php endif; ?>
                        </small>

                    </td>

                </tr>

            <?php endforeach; ?>

        </table>
    </div>
</div>

