
<?php
     $itemCount = 50;
     $searchData = array();
     $search = array('p_id' => $this->session->id);
     $sort = array("created" => -1,"modifiedDate" => -1);
     $this->session->data = array();
     
     $comments = $service->mongoFind($this->session->defaultDB, $this->session->view, $search, $itemCount, $sort);
     
     foreach($comments as $comment) {
          $this->session->data[] = $comment;
     }
?>


<!--// documentation resources //-->
<script src='/uploads/jquery.js' type="text/javascript"></script>
<script src='/uploads/jquery.form.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MultiFile.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.blockUI.js' type="text/javascript" language="javascript"></script>




<?php echo $this->partial($this->session->toolBar, array('session' => $session, 'service' => $service)); ?>

<?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session,'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session,'service' => $service)); ?>
<?php $session->data = null; ?>