
        <div class="container-fluid">

             <button type="submit" value="submit" name="submit" class="btn btn-warning balign">Save</button>
            <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home')); ?>">Cancel</a>
        </div>

    </form>
</div>
