
<?php
$itemCount = 50;
$searchData = array();
$search = array();
$sort = array("xxxxx" => -1);

$this->session->data = $service->mongoFindOne($this->session->defaultDB, 'main', (string) $this->session->id, $search, $itemCount, $sort);

//var_dump($this->session->data);

if ($this->session->post != null) {


    //Get Users info form CIS and INTERACT/FIRST CLASS
    $userInfo = $service->getFCUser($this->session->fcuser['CLIENTID']);

    //EMAIL CONFIRM
    $this->session->post['modify_by_clientID'] = $this->session->fcuser['CLIENTID'];
    $emails[] = 'xxx@gmail.com';
    //Sending an email FROM, TO, SUBJECT, MESSAGE

    if ($this->session->post['status'] == 'pending') {
        $htmlTemplate = $this->partial($this->session->path . 'email/email.phtml', array('session' => $session, 'service' => $service));
        $service->sendEmail($emails, array('xxx@interact.ccsd.net'), 'Test from xxx', array('text' => null, 'html' => $htmlTemplate, 'image' => null));
    }


//Modify By
    $this->session->post['modify_by_clientID'] = $this->session->fcuser['CLIENTID'];

//LOGS
    $counter = $service->mongoCounter($this->session->defaultDB, 'logs', $startCounter = 1);
    $date = date_create();
    $dateMonth = $date->format('m');
    $dateDay = $date->format('d');
    $dateYear = $date->format('Y');
    $dateTime = $date->format('H:i:s');
    $userInfo = $service->getFCUser($this->session->fcuser['CLIENTID']);
    //var_dump($userInfo);
    $this->session->post['log'][$counter]['modify_by_date'] = $dateMonth . '/' . $dateDay . '/' . $dateYear . ' ' . $dateTime;
    $this->session->post['log'][$counter]['modify_by_clientID'] = $this->session->fcuser['CLIENTID'];
    $this->session->post['log'][$counter]['first_name'] = $userInfo['FCNAME'];
    $this->session->post['log'][$counter]['last_name'] = $userInfo['LCNAME'];



    $service->mongoPost(array('dbName' => $this->session->defaultDB, 'table' => $this->session->view, 'fieldNames' => array('upload', 'upload1'), 'mongoID' => (string) $this->session->id, 'type' => 'edit'), $_FILES, $this->session->post, $this->session->data);


    $this->session->post = null;



    $url = $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home'));
    $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
    echo $jsroute;
}
?>


<!--// documentation resources //-->
<script src='/uploads/jquery.js' type="text/javascript"></script>
<script src='/uploads/jquery.form.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MultiFile.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.blockUI.js' type="text/javascript" language="javascript"></script>




<?php echo $this->partial($this->session->toolBar, array('session' => $session, 'service' => $service)); ?>

<?php echo $this->partial($this->session->path . 'open.phtml', array('session' => $session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'close.phtml', array('session' => $session, 'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'logs.phtml', array('session' => $session, 'service' => $service)); ?>


<?php $session->data = null; ?>