<div panel-heading>
    <p>
        <label for="name">Status: </label>

        <select class="btn btn-default dropdown-toggle" name="status">
     <option value="pending" <?php if ($session->data['status'] == 'pending') echo 'selected'; ?>>Pending</option>
        </select>

    </p>
</div> 
<!--START NEW CALL ENTRY-->
<div class="panel panel-primary">
    <div class="panel-heading"><b>Sample Template Fields
        </b></div>
    <div class="panel-body">

        <table class="table">
            <label for="ce_ci"><h3><b>Sample Fields</b></h3> </label><br>

            <div>
                <label for="Text">Sample Name: </label>

                <input  class="input-xlarge"  placeholder="First Name" type="text" name="namefirst" value="<?php if (isset($session->data['namefirst'])) echo $session->data['namefirst']; ?>" > 
                <input  class="input-xlarge"  placeholder="Last Name" type="text" name="namelast" value="<?php if (isset($session->data['namelast'])) echo $session->data['namelast']; ?>" > 

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Sample Title: </label>
           <input  class="input-xlarge"  placeholder="e.g. 1234567"  type="text" name="title" value="<?php if (isset($session->data['title'])) echo $session->data['title']; ?>" >  

                <br />
                <label for="Text">Sample Short Input: </label>
                <input  class="input-xlarge"  placeholder="e.g. 1234567"  type="text" name="xxx_short" value="<?php if (isset($session->data['xxx_short'])) echo $session->data['xxx_short']; ?>" >  

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="xxx_yesno">Sample Yes/No Select: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="xxx_yesno"> 
                    <option value="yes" <?php if ($session->data['xxx_yesno'] == 'yes') echo 'selected'; ?>>Yes</option>
                    <option value="no" <?php if ($session->data['xxx_yesno'] == 'no') echo 'selected'; ?>>No</option>
                </select> 
            </div>  
        </table>
        <table class="table">
            <div>


                <label for="ce_calltype">Sample Select </label>

                <select type="text" class="btn btn-default dropdown-toggle" name="ce_calltype"> 
                    <option value="yes" <?php if ($session->data['ce_calltype'] == 'yes') echo 'selected'; ?>>Yes</option>
                    <option value="no" <?php if ($session->data['ce_calltype'] == 'no') echo 'selected'; ?>>No</option>
                </select> 

                &nbsp;&nbsp;&nbsp;&nbsp;


                <label for="ce_date">Sample Date:  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                month: 
                <select class="btn btn-default dropdown-toggle" name="xxx_month">
                    <?php
                    for ($x = 1; $x < 13; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['xxx_month'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
                day: 
                <select class="btn btn-default dropdown-toggle" name="xxx_day">
                    <?php
                    for ($x = 1; $x < 32; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['xxx_day'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  

                    <?php endfor; ?>
                </select>
                year: 
                <select class="btn btn-default dropdown-toggle" name="xxx_year">
                    <?php
                    for ($x = 2014; $x < 2016; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['xxx_year'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>



                <br><br>

                <label for="ce_lunch">Sample Time:  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                Hour: 
                <select class="btn btn-default dropdown-toggle" name="xxx_hour">
                    <?php
                    for ($x = 1; $x < 13; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['xxx_hour'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  

                    <?php endfor; ?>
                </select>
                Minutes: 
                <select class="btn btn-default dropdown-toggle" name="xxx_min">
                    <?php
                    for ($x = 1; $x < 60; $x++):
                        ?>        
                        <option value="<?php echo $x; ?>"  <?php if ($session->data['xxx_min'] == $x) echo 'selected'; ?> ><?php echo $x; ?></option>  

                    <?php endfor; ?>
                </select> 
                <br />
                <label for="Text">Sample Text Box: </label>
                <textarea rows="3" cols="5" class="col-xs-12" id="description101" name="xxx_textbox">
                    <?php if (isset($session->data['xxx_textbox'])) echo $session->data['xxx_textbox']; ?>

                </textarea>


            </div>
</table>
          </div>
        </div>