


<script>
    function validateForm() {
        var x = document.forms["validate"][

                "requester_name"



        ].value;
        if (x == null || x == "") {
            alert("Please fill out required red field(s) *.");
            return false;
        }
    }
</script>

<div class="container-fluid">

    <form class="form" enctype="multipart/form-data" name="myform" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'edit', 'id' => $session->id)); ?>" method="post">
