
<?php
 $itemCount = 50;
 $searchData = array();
 $search = array('referral' => $this->session->id);
 $sort = array();
 $this->session->data = array();
 
 $this->session->data = $service->mongoFindOne($this->session->defaultDB, $this->session->view, (string) $this->session->id, $search, $itemCount, $sort);
 
 if ($this->session->post != null) {
  $this->session->post['modifiedDate'] = date("m-d-Y H:i:s");
  $this->session->post['modifiedBy'] = $this->session->user['NAME'];
  $service->mongoPost(array('dbName' =>$this->session->defaultDB, 'table' => $this->session->view, 'fieldNames' => array('upload', 'upload1'), 'mongoID' => (string) $this->session->id, 'type' => 'edit'), $_FILES, $this->session->post, $this->session->data);

  $this->session->post = null;

  $route_view = 'main';
  $url = $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'view','id'=>$this->session->data['p_id']));
  $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
  echo $jsroute;
 }
?>


<!--// documentation resources //-->
<script src='/uploads/jquery.js' type="text/javascript"></script>
<script src='/uploads/jquery.form.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.MultiFile.js' type="text/javascript" language="javascript"></script>
<script src='/uploads/jquery.blockUI.js' type="text/javascript" language="javascript"></script>




<?php echo $this->partial($this->session->toolBar, array('session' => $session, 'service' => $service)); ?>

 <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session,'service' => $service)); ?>
     <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session,'service' => $service)); ?>
    
        <?php $session->data = null; ?>