<div class="container-fluid">
    <div class="btn-group">		    
        <form class="form" name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'edit', 'id' => $session->id)); ?>" method="post">
            <table class="table">
                <tr>
                    <td>
                        <label for="theme">Commentor Name: </label>
                        <?php echo $this->session->data["username"]; ?>
                        <br />
                        <label for="theme">Modified By: </label>
                        <?php if(isset($this->session->data["modifiedBy"])) echo $this->session->data["modifiedBy"]; ?>
                        <br />
                        <label for="ladmin">Comment:</label><br />
                        <textarea cols="40" rows="5" name="comment"><?php echo $this->session->data["comment"]; ?></textarea>
                    </td> 
                </tr>
            </table>

            <button type="submit"  name="submit" class="btn btn-warning balign"></i>Save </button>
            <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'view', 'id' => $this->session->data['plan'])); ?>">Cancel</a>

        </form>
    </div>
</div>

