<div class="container-fluid">

    <div class="app-title-w">
        <div class="app-breadcrumbs">
            <a href="<?= $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'view', 'id' => $this->session->data['plan'])); ?>"> <i class="icon-double-angle-left"></i> Back to <?php echo $session->view; ?></a>
        </div> 
        <h1 class="app-title">Edit Comment </h1>

    </div>

</div>