<div class="container-fluid">

    <table class="table"> 

        <table align="center">
            <tr>
               
                
                <td align="center">
                    <div class="container-fluid">

                        <strong>Clark County School District</strong><br />
                        English Language Learner Program<br />
                        Translation and Testing Office<br />
                        4260 Eucalyptus, Annex &quot;C&quot;<br />
                        Building 10<br />
                        Las Vegas, NV 89121<br />
                        702-855-7771
                    </div>
                </td>
                
            </tr>
        </table>                



        <center> <p><h2>Bilingual Psychology Services Appointment Confirmation</h2></p></center> 

    </table>




    <table class="table"> 
        <div class="container-fluid">

            <div class="panel-body">

                <div class="well">

                    <p>Confirmation Document created on: 

                        <b>
                            <?php if (isset($session->data['dateCreatedMonth'])) echo $session->data['dateCreatedMonth']; ?>/
                            <?php if (isset($session->data['dateCreatedDay'])) echo $session->data['dateCreatedDay']; ?>/
                            <?php if (isset($session->data['dateCreatedYear'])) echo $session->data['dateCreatedYear']; ?>
                        </b>
                        <br />
                    <p>Confirmation Number: 
                        <b>
                            <?php if (isset($session->data['mongoID'])) echo $session->data['mongoID']; ?>

                        </b>
                        <br />
                        Date Request Received: 

                        <b>
                            <?php if (isset($session->data['date_request_month'])) echo $session->data['date_request_month']; ?>/
                            <?php if (isset($session->data['date_request_day'])) echo $session->data['date_request_day']; ?>/
                            <?php if (isset($session->data['date_request_year'])) echo $session->data['date_request_year']; ?>
                        </b>


                        <br />
                        Language Requested: 

                        <b>
                            <?php if (isset($session->data['language'])) echo $session->data['language']; ?>
                            
                        </b>


                        <br />
                   
                        Oral Translator Assigned: 

                        <b>
                            <?php if (isset($session->data['oral_translator_assigned'])) echo $session->data['oral_translator_assigned']; ?>
                            <?php if (isset($session->data['translator_other'])) echo $session->data['translator_other']; ?>
                        </b>
                           
                         <br>
                     Interpretation Room/Office#: 

                        <b>
                            <?php if (isset($session->data['room_interpretation'])) echo $session->data['room_interpretation']; ?>
                            
                        </b>

                        <br />
                        Date of Oral Translation: 

                        <b>
                            <?php if (isset($session->data['appointment_date_month'])) echo $session->data['appointment_date_month']; ?>/
                            <?php if (isset($session->data['appointment_date_day'])) echo $session->data['appointment_date_day']; ?>/
                            <?php if (isset($session->data['appointment_date_year'])) echo $session->data['appointment_date_year']; ?>
                        </b>

                        <br />
                        Oral Translation Appointment Time: 

                        <b>
                            <?php if (isset($session->data['appointment_time_hour'])) echo $session->data['appointment_time_hour']; ?>hr:
                            <?php if (isset($session->data['appointment_time_min'])) echo $session->data['appointment_time_min']; ?>min.
                            <?php if (isset($session->data['appointment_time_day'])) echo $session->data['appointment_time_day']; ?>
                        </b>
                        <br />
                        Scheduled Length of Oral Translation: 

                        <b>
                            <?php if (isset($session->data['appointment_length_hour'])) echo $session->data['appointment_length_hour']; ?>:
                            <?php if (isset($session->data['appointment_length_min'])) echo $session->data['appointment_length_min']; ?>
                          
                        </b>


                        <br />
                        School or Location of Oral Translation: 


                        <b>
                            <?php if (isset($session->data['location_name'])) echo $session->data['location_name']; ?>

                        </b>


                        <br />
                        Room Or Office Number at Location:
  <b>
                            <?php if (isset($session->data['room_number'])) echo $session->data['room_number']; ?>

                        </b>
                        <br />
                        Meeting Type:


                        <b>
                            <?php if (isset($session->data['assignment_type'])) echo $session->data['assignment_type']; ?>/

                        </b>

                        <br />
                        TOR or School or Location Contact: 

                        <b>
                            <?php if (isset($session->data['contact_firstname'])) echo $session->data['contact_firstname']; ?>
                            <?php if (isset($session->data['contact_lastname'])) echo $session->data['contact_lastname']; ?>

                        </b>
                        <br />
                        Contact Phone Number and Extension:


                        <b>
                            <?php if (isset($session->data['phone_phone'])) echo $session->data['phone_phone']; ?>
                            Ext.
                            <?php if (isset($session->data['phone_ext'])) echo $session->data['phone_ext']; ?>

                        </b>

                        <br />
                        Student ID:
                        <b>
                            <?php if (isset($session->data['student_num'])) echo $session->data['student_num']; ?>

                        </b>

                        <br />
                        Student Name: 

                        <b>

                            <?php if (isset($session->data['student_first_name'])) echo $session->data['student_first_name']; ?>
                            <?php if (isset($session->data['student_last_name'])) echo $session->data['student_last_name']; ?>

                        </b>


                        <br />
                        Comments or Special Instructions:
                        <b>
                            <?php if (isset($session->data['special_instruct'])) echo $session->data['special_instruct']; ?>

                        </b>


                        
                        <br />
                        <br />
                        Please call the Translation Office at 702-855-7771 at least 1 work day prior to this scheduled
                        appointment for any cancellation. Changes in the date, time, or length of the appointment will
                        require a new request for a translator.</p>



                    <p><br />
                        Please have the confirmation number, student Id number, and date of the appointment
                        available when calling.
                       
                    
                    
                    </p>

                </div>
            </div>
        </div>
    </table>
</div>
