   <div class="container-fluid">

            <button type="submit" value="submit" name="submit" class="btn btn-warning balign"> Submit</button>
            <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $session->view, 'layout' => 'home')); ?>">Cancel</a>
        </div>

    </form>
</div>
