


<div class="panel panel-primary">
    <div class="panel-heading"><b>Parent Information
        </b></div>
    <div class="panel-body">

        <table>


            <!--                    <div class="required-icon">
            
                                    Required Fields <span style="color:#B00000"><b>* </b></span>
            
                                </div>-->

            <div>

                <label for="Text">Parent First Name: </label>
                <input  class="input-xlarge"  type="text" name="main_parent_first" value="" >  
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Parent Last Name: </label>
                <input  class="input-xlarge"  type="text" name="main_parent_last" value="" > 

            </div>  

            <div>

                <label for="Text">Phone: </label>
                <input  class="input-xlarge"  type="text" name="main_phone" value="" >  
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Work Phone: </label>
                <input  class="input-xlarge"  type="text" name="main_workphone" value="" > 

            </div>  

            <div>

                <label for="Text">Email: </label>
                <input  class="input-xlarge"  type="text" name="main_email" value="" >  


            </div> 
            <div>

                <label for="Text">Address: </label>
                <input  class="input-xlarge"  type="text" name="main_address" value="" >  
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Apartment/Unit: </label>
                <input  class="input-xlarge"  type="text" name="main_apt" value="" > 

            </div>
            <div>

                <label for="Text">City: </label>
                <input  class="input-xlarge"  type="text" name="main_city" value="" >  
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">State: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="main_state">
                    <option  value="NA">Select...</option>    
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>

                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="Text">Zip Code: </label>
                    <input  class="input-xlarge"  type="text" name="main_zip" value="" > 
                    </div>
  
                    </table>
            </div>
    </div>










