
<div panel-heading>
    <p>
        <label for="name">Status: </label>

        <select class="btn btn-default dropdown-toggle" name="status">
            <option value="pending">Pending</option>    
        </select>

    </p>
</div> 

<div class="panel panel-primary">
    <div class="panel-heading"><b>Student Information
        </b></div>
    <div class="panel-body">

        <table>


            <!--                    <div class="required-icon">
            
                                    Required Fields <span style="color:#B00000"><b>* </b></span>
            
                                </div>-->

            <div>
                <label for="Text">Last Name: </label>
                <input  class="input-xlarge"  type="text" name="main_name_last" value="" > 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">First Name: </label>
                <input  class="input-xlarge"  type="text" name="main_name_first" value="" >  
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Middle Name: </label>
                <input  class="input-xlarge"  type="text" name="main_name_middle" value="" >               

            </div>  
            <div>
                <label for="Text">Student Number: </label>
                <input  class="input-xlarge"  type="text"  name="main_student_number" value="" >
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label for="main_date">Birth Date: </label>

                month: 
                <select class="btn btn-default dropdown-toggle" name="main_birth_month">
                    <?php for ($x = 1; $x < 13; $x++): ?>        
                        <option value="<?php echo $x; ?>"   ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
                day: 
                <select class="btn btn-default dropdown-toggle" name="main_birth_day">
                    <?php for ($x = 1; $x < 32; $x++): ?>        
                        <option value="<?php echo $x; ?>"   ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
                year: 
                <select class="btn btn-default dropdown-toggle" name="main_birth_year">
                    <?php for ($x = 2014; $x < 2016; $x++): ?>        
                        <option value="<?php echo $x; ?>"   ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select>
            </div>



            <div>
                <label for="Text">Grade (Next Year): </label>
                <select class="btn btn-default dropdown-toggle" name="main_grade">
                    <?php for ($x = 1; $x < 13; $x++): ?>        
                        <option value="<?php echo $x; ?>"   ><?php echo $x; ?></option>  
                    <?php endfor; ?>
                </select> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Current School: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="main_current_school">
                    <option  value="NA">Select...</option> 
                    <option value="xxxxxx">xxxxx</option>

                </select> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Home Language: </label>
                <select type="text" class="btn btn-default dropdown-toggle" name="main_home_language">
                    <option  value="NA">Select...</option> 
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>

                </select>
            </div>  


        </table>
    </div>
</div>










