
<form name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'delete', 'id' => (string) $session->id)); ?>" method="post">

      <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Add Email Access</b>
            </div>
            <div class="panel-body">
                    <table class="table">
                        <input type="hidden" value="external" name="type"></input> 
                           <tr>
                            <td ><label class="label-inline" for="theme">Title:</label></td>
                            <td>
                    <?php if (isset($session->data['title'])) echo $session->data['title']; ?>

                            </td>
                        </tr>
                         <tr>
                            <td ><label class="label-inline" for="theme">First Name:</label></td>
                            <td>
                    <?php if (isset($session->data['fname'])) echo $session->data['fname']; ?>

                            </td>
                        </tr>


                        <tr>
                            <td ><label class="label-inline" for="theme">Last Name:</label></td>
                            <td>
                    <?php if (isset($session->data['lname'])) echo $session->data['lname']; ?>

                            </td>
                        </tr>
                        
                         <tr>
                            <td ><label class="label-inline" for="theme">Organization:</label></td>
                            <td>
                    <?php if (isset($session->data['organization'])) echo $session->data['organization']; ?>

                            </td>
                        </tr>
                        <tr>
                            <td ><label class="label-inline" for="theme">Email Address:</label></td>
                            <td>
                    <?php if (isset($session->data['email'])) echo $session->data['email']; ?>

                            </td>
                        </tr>

                        <tr>
                            <td ><label class="label-inline" for="theme">Password:</label></td>
                            <td>
                    <?php if (isset($session->data['password'])) echo $session->data['password']; ?>

                            </td>
                        </tr>

                        


                        <tr>
                            <td><label class="label-inline" for="ACL">Access Control Level</label></td>
                            <td>
                               
                                                    <?php if (isset($session->data['ACL'])) echo $session->data['ACL']; ?>

                            </td>
                        </tr>
                    </table>


                 
            </div>
        </div>
    <button type="submit" value="submit" name="submit" class="btn btn-warning balign">Delete </button>
    <a class="btn btn-default balign"  href="<?= $this->url($this->session->route, array('view' => $session->view, 'layout' => 'home')); ?>">Cancel</a>
</form>




