
<div class="container-fluid">
<?php echo $this->session->loginError; ?>
        <form name="es" action=" <?php echo $this->url('openenrollmentpro', array('action' => 'public', 'view' => $session->view, 'layout' => 'login')); ?>" method="post">

       <div class="panel panel-primary">
        <div class="panel-heading">
            <b>Login</b>
        </div>
        <div class="panel-body">
            <table class="table table-condensed"> 
            <tr>
                <td ><label for="email">Email Address</label></td>
                <td>

                    <input class="w-300" type="text" value="" name="email"></input>

                </td>
            </tr>

            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input class="w-300" type="password" value="" name="pwd"></input>

                </td>
            </tr>
        </table>
        <br></br>
        </div>
           </div>
            
        <button type="submit"  name="submit"  class="btn btn-warning balign">Login</button> 
        <button type="button"  name="register" onclick="window.location.href = '<?php echo $this->url('openenrollmentpro', array('action' => 'public', 'view' => 'emails', 'layout' => 'add')); ?>'" class="btn btn-warning balign">Register</button>
        
   </form>
        
       
</div>

