

<?php if ($this->session->post != null) : ?>

    <?php
    $dbName=$this->session->defaultDB;
    $connection = new \MongoClient(); // connect
    $db = $connection->$dbName;
    $collectionTable = $db->emails;
    $data = $collectionTable->findOne(array('email' => $this->session->post['email']));

    if ($data) {
        $this->session->useremail=$this->session->post['email'];
        $this->session->activeMenu='home';
        $this->session->loginError = null;
        $url = $this->url('openenrollmentpro', array('action' => 'public', 'view' => 'applications', 'view' => 'main', 'layout' => 'home'));
        $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
        echo $jsroute;
        //$this->session->error='Success';
    }
    if ($data==false) {
        $this->session->error= 'Your username or password did not match, please retry';
    }

    $this->session->post = null;
   // echo $session->jsroute;
    ?>

<?php endif; ?>


<?php echo $this->partial($this->session->toolBar, array('session' => $session)); ?>



<div class="container_fluid">

    <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session)); ?>
    <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session)); ?>
  

</div>


