<div class="app-content">
     <p>* A new account must be registered for the 2015-2016 application year.</p>
     <p>** <b>We recommend using Firefox or Google Chrome browsers when creating an application.</b></p>
	<label for="email">PDF Applications</label>
     <div><a target="_blank" href="http://ccsd.net/schools/magnet-cta/resources/pdf/ES_Application_2015-16.pdf">Elementary School Magnet Application PDF (2015 - 2016)</a>&nbsp;&nbsp;<a target="_blank" href="http://ccsd.net/schools/magnet-cta/resources/pdf/Aplicacion_Escuela_Primaria.pdf">(En Espanol)</a></div>
     <div><a target="_blank" href="http://ccsd.net/schools/magnet-cta/resources/pdf/MS_Application_2015-16.pdf">Middle School Magnet Application PDF (2015 - 2016)</a>&nbsp;&nbsp;<a target="_blank" href="http://ccsd.net/schools/magnet-cta/resources/pdf/Aplicacion_Escuela_Intermedia.pdf">(En Espanol)</a></div>
     <div><a target="_blank" href="http://ccsd.net/schools/magnet-cta/resources/pdf/HS_Application_2015-16.pdf">High School Magnet Application PDF (2015 - 2016)</a>&nbsp;&nbsp;<a target="_blank" href="http://ccsd.net/schools/magnet-cta/resources/pdf/Aplicacion_Secundaria.pdf">(En Espanol)</a></div>
     <hr />
	<p class="text-center">We encourage you to visit the <a href="http://magnet.ccsd.net">Magnet and Career and Technical Academies website</a> for more information or email the Magnet/CTA Department at <a href="mailto:MagnetSchools@interact.ccsd.net">MagnetSchools@interact.ccsd.net</a></p> 

</div>