
<?php if ($this->session->post != null) : ?>

    <?php

    $fcuser=$service->getFCUser($this->session->post["CLIENTID"]);
    $this->session->post=array_merge($this->session->post,$fcuser);
    $service->mongoAdd($this->session->defaultDB, $this->session->view, $this->session->post);
    $this->session->post = null;
    echo $session->jsroute;
    ?>

<?php endif; ?>


<?php echo $this->partial($this->session->toolBar, array('session' => $session, 'service'=>$service)); ?>

<?php $this->headTitle($this->session->title); ?>

<div class="container-fluid">
    <div class="app-w magnet">

        <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session, 'service'=>$service)); ?>
        <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session, 'service'=>$service)); ?>

   
    </div>
</div>

