<div class="container-fluid">
    <div class="btn-group">		    
        <form  name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'add')); ?>" method="post">
            <table class="table">
                <tr>
                    <td ><label for="theme"><?php echo $session->title; ?> Name</label></td>
                    <td>

                        <input placeholder="Search" class="staff-search" type="text" value="" name="NAME"></input>

                    </td>
                </tr>

                <tr>
                    <td><label for="location_code">Location Code</label></td>
                    <td>

                        <input type="text" value="" name="location_code"></input>

                    </td>
                </tr>
                <tr>
                    <td><label for="ACL">Access Control Level</label></td>
                    <td>
                        <select class="btn btn-default dropdown-toggle" name="ACL">
                            <option value="User">User</option>     
                             <option value="Controller">Controller</option>
                        </select>    
                    </td>
                </tr>
            </table>

            <button type="submit"  name="submit" class="btn btn-warning balign">Submit </button>
            <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'home')); ?>">Cancel</a>
        </form>
    </div>

</div>