


<div class="panel panel-primary">
    <div class="panel-heading"><b>Parent Information
        </b></div>
    <div class="panel-body">

        <table>


            <!--                    <div class="required-icon">
            
                                    Required Fields <span style="color:#B00000"><b>* </b></span>
            
                                </div>-->

            <div>

                <label for="Text">Parent First Name: </label>
                <?php if (isset($session->data['main_parent_first'])) echo $session->data['main_parent_first']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Parent Last Name: </label>
                <?php if (isset($session->data['main_parent_last'])) echo $session->data['main_parent_last']; ?>


            </div>  

            <div>

                <label for="Text">Phone: </label>
                <?php if (isset($session->data['main_phone'])) echo $session->data['main_phone']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Work Phone: </label>
                <?php if (isset($session->data['main_workphone'])) echo $session->data['main_workphone']; ?>


            </div>  

            <div>

                <label for="Text">Email: </label>
                <?php if (isset($session->data['main_email'])) echo $session->data['main_email']; ?>


            </div> 
            <div>

                <label for="Text">Address: </label>
                <?php if (isset($session->data['main_address'])) echo $session->data['main_address']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Apartment/Unit: </label>
                <?php if (isset($session->data['main_apt'])) echo $session->data['main_apt']; ?>


            </div>
            <div>

                <label for="Text">City: </label>
                <?php if (isset($session->data['main_city'])) echo $session->data['main_city']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">State: </label>

                <?php if (isset($session->data['main_state'])) echo $session->data['main_state']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Zip Code: </label>
                <?php if (isset($session->data['main_zip'])) echo $session->data['main_zip']; ?>

            </div>

        </table>
    </div>
</div>










