


<div class="panel panel-primary">
    <div class="panel-heading"><b>School Selection
        </b></div>
    <div class="panel-body">

        <table>


            <div>
                <label for="Text">Choice 1: </label>

                <?php if (isset($session->data['main_school_choice1'])) echo $session->data['main_school_choice1']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Choice 2: </label>

                <?php if (isset($session->data['main_school_choice2'])) echo $session->data['main_school_choice2']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Choice 3:</label>

                <?php if (isset($session->data['main_school_choice3'])) echo $session->data['main_school_choice3']; ?>

            </div>  


        </table>
    </div>
</div>










