
<div panel-heading>
    <p>
        <label for="name">Status: </label>

        <select class="btn btn-default dropdown-toggle" name="status">
            <option value="pending">Pedinng</option>    
        </select>

    </p>
</div> 

<div class="panel panel-primary">
    <div class="panel-heading"><b>Student Information
        </b></div>
    <div class="panel-body">

        <table>


            <!--                    <div class="required-icon">
            
                                    Required Fields <span style="color:#B00000"><b>* </b></span>
            
                                </div>-->

            <div>
                <label for="Text">Last Name: </label>
                                <?php if (isset($session->data['main_name_last'])) echo $session->data['main_name_last']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">First Name: </label>
                                <?php if (isset($session->data['main_name_first'])) echo $session->data['main_name_first']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Middle Name: </label>
                                <?php if (isset($session->data['main_name_middle'])) echo $session->data['main_name_middle']; ?>


            </div>  
            <div>
                <label for="Text">Student Number: </label>
                                <?php if (isset($session->data['main_student_number'])) echo $session->data['main_student_number']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;

                <label for="main_date">Birth Date: </label>

              
                
                                <?php if (isset($session->data['main_birth_month'])) echo $session->data['main_birth_month']; ?>/
                <?php if (isset($session->data['main_birth_day'])) echo $session->data['main_birth_day']; ?>/
                <?php if (isset($session->data['main_birth_year'])) echo $session->data['main_birth_year']; ?>

            </div>



            <div>
                <label for="Text">Grade (Next Year): </label>
             
                                <?php if (isset($session->data['main_grade'])) echo $session->data['main_grade']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Current School: </label>
           
                                <?php if (isset($session->data['main_current_school'])) echo $session->data['main_current_school']; ?>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="Text">Home Language: </label>
         
                                <?php if (isset($session->data['main_home_language'])) echo $session->data['main_home_language']; ?>

            </div>  


        </table>
    </div>
</div>










