<?php $this->headTitle($session->title); ?>
<div class="container-fluid">
<div class="app-title-w">
    <div class="app-breadcrumbs">
        <a href="<?php echo $this->url($this->session->route, array('action' => 'public', 'view' => $this->session->view, 'layout' => 'home')); ?>"> <i class="icon-double-angle-left"></i> Back to home</a>
    </div>
    
                <?php if ($session->user["ACL"] == "Controller") : ?>

             
    <h1 class="app-title">Delete Application</h1>
                <?php endif; ?>

        <?php if ($session->user["ACL"] == "User") : ?>
        <h1 class="app-title">View Application</h1>

     <?php endif; ?>
        
       
     
</div>
    
   
</div>