
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script> 

<!--// documentation resources //-->
<script src='http://zfjpulido.ccsd.net/uploads/jquery.js' type="text/javascript"></script>
<script src='http://zfjpulido.ccsd.net/uploads/jquery.form.js' type="text/javascript" language="javascript"></script>
<script src='http://zfjpulido.ccsd.net/uploads/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
<script src='http://zfjpulido.ccsd.net/uploads/jquery.MultiFile.js' type="text/javascript" language="javascript"></script>
<script src='http://zfjpulido.ccsd.net/uploads/jquery.blockUI.js' type="text/javascript" language="javascript"></script>

<style>
    /** dompdf styles **/
    @page {
        margin: .25in;
    }
    /** /dompdf styles **/

    body {
        font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
        text-align: left;
        width: 100%;
        margin: 0;
        line-height: 1.1em;
        padding: 0;
        font-size: 11px;
    }
    .footer-tbl {
        position: absolute; bottom: .25in;
    }
    ul {
        margin: 0 1em;
        padding: 0;
    }
    .text-l {
        text-align: left;
    }
    .text-r {
        text-align: right;
    }
    .text-t {
        vertical-align: top;
    }
    table {
        width: 100%;
        margin: .5em 0;
    }
    table td {
        text-align: left;
        border-collapse: collapse;
        padding: 0 .5em;
        font-size: .95em;


    }
    .resource {
        background-color: #5588bb;
        color: #fff;
        padding: .25em;
        text-decoration: none;
    }

    .lt-blue-bg {
        background-color: #ccffff;
    }

    .lt-purple-bg {
        background-color: #f8f0fe;
    }

    .lt-green-bg {
        background-color: #cbffd1;
    }

    .lt-orange-bg {
        background-color: #ffcba0;
    }

    .lt-yellow-bg {
        background-color: #fefea6;
    }

    .red {
        color: red;
    }

    .border {
        border: 1px solid #999;
    }
    .symbol {
        font-size: 1.75em;
    }
    .label {
        font-size: 1.25em;
    }
    .input {
        border: 2px solid #999;
        padding: .25em;
    }
    table{
        /*width: 98%;
        margin-left: 15px;*/
    }
    label {
        font-weight: bold;
    }
    .list td, .list th {
        padding: 0;
        border-collapse: collapse;
        border: 1px solid #666;
    }
    .outer-wrap {
        padding: 0;
    }

    .component {
        background-color: #daf1f0;
        width: 100%;
        /*margin-left: 15px;*/
    }

    .component td {
        padding: .5em;
    }

    .text-cnt {
        text-align: left;
    }

    .yellow-bg {
        background-color: #fefea6;

    }
    .border-cnt {
        border-left: 1px solid #999;
        border-right: 1px solid #999;
    }
    .sky-blue {
        background-color:#b0d8ff;

        border: 1px solid #999;
    }
    .page-break	{ 
        display: block; page-break-before: always; 
    }
    .vtop {
        vertical-align: top;
    }
    .no-space {
        margin: 0;
        padding: 0;
    }
</style>


<table class="table">

    INSERT PDF TABLE HERE


    </table>

</div>

<script>
    showUnitLines();
    function showUnitLines() {
        var amount_shown = +($('#unit_lines').val());
        $('.sect-3-unit').each(function () {
            var num = +($(this).attr('data-line'));
            if (num > amount_shown) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }

    $('#unit_lines').change(function () {
        showUnitLines();
    });

    function validateForm() {
        var req = new Array();
        req.push(document.forms["validate"]["school_dept"].value);
        req.push(document.forms["validate"]["region"].value);
        req.push(document.forms["validate"]["contact_person"].value);
        req.push(document.forms["validate"]["location"].value);
        req.push(document.forms["validate"]["position"].value);
        req.push(document.forms["validate"]["phone_number"].value);
        req.push(document.forms["validate"]["work_loc"].value);
        req.push(document.forms["validate"]["var_loc"].value);
        req.push(document.forms["validate"]["check_dist_loc"].value);
        req.push(document.forms["validate"]["aesign"].value);

        var submit = true;

        $.each(req, function (key, value) {
            if (value == null || value == "") {
                alert("Please fill out required red fields *.");
                submit = false;
                return false;
            }
        });

        return submit;
    }
</script>
