<?php
    $this->session->datas = $service->mongoFindOne($this->session->defaultDB, 'main', (string) $this->session->id, null, null, null);
    //echo"<pre>";var_dump($this->session->datas);exit;
?>
<?php if ($this->session->post != null) : ?>

<?php
    
    $this->session->post['p_id'] = $this->session->id;
    $this->session->post['user_id'] = (string) $this->session->user['_id'];
    $this->session->post['created'] = date("m-d-Y H:i:s");
   

    $service->mongoPost(array('dbName' => $this->session->defaultDB, 'table' => $this->session->view, 'fieldNames' => array('upload', 'upload1'), 'mongoID' => null, 'type' => 'add'), $_FILES, $this->session->post);
    
    $this->session->post = null;

    $url = $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'view','id'=>$this->session->id));
    $jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';
    echo $jsroute;
?>

<?php endif; ?>


<?php echo $this->partial($this->session->toolBar, array('session' => $session, 'service'=>$service)); ?>

<?php $this->headTitle($this->session->title); ?>

<div class="container-fluid">
    <div class="app-w magnet">
        <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $session, 'service'=>$service)); ?>
        <?php echo $this->partial($this->session->path . 'form.phtml', array('session' => $session, 'service'=>$service)); ?>
    </div>
</div>

