<div class="container-fluid">
    <div class="btn-group">		    
        <form  name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'add','id'=> $this->session->id)); ?>" method="post">
            <table class="table">
                <tr>
                    <td ><label for="theme">School:</label></td>
                    <td>
                        <?php echo $this->session->datas['school_name']; ?>
                    </td>
                </tr>
                <tr>
                    <td ><label for="theme">User Name</label></td>
                    <td>
                        <?php echo $this->session->user['NAME']; ?>
                        <input type="hidden" value="<?php echo $this->session->user['NAME']; ?>" name="username"></input>
                    </td>
                </tr>

                <tr>
                    <td><label for="ladmin">Comment</label></td>
                    <td>
                        <textarea cols="40" rows="5" name="comment"></textarea>
                    </td>
                </tr>
            </table>

            <button type="submit"  name="submit" class="btn btn-warning balign">Submit </button>
            <a class="btn btn-default balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'view', 'id' => $this->session->id)); ?>">Cancel</a>
        </form>
    </div>

</div>