<div class="container-fluid">

    <div class="app-title-w">
        <div class="app-breadcrumbs">
            <a href="<?= $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->route_view, 'layout' => 'home')); ?>"> <i class="icon-double-angle-left"></i> Back to <?php echo $session->layout; ?></a>
        </div> 
        <h1 class="app-title">Add New Comment</h1>
                                                    <a class="btn btn-default btn-xs balign" href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => 'comments', 'layout' => 'add', 'id' => (string) $this->session->id)); ?>">Add Comment</a>

    </div>

</div>