<?php


$itemCount = 30;
$searchData=array();
$search=array();
$sort = array("ACL" => 1, "FCFNAME" => 1);

if (isset($this->session->post["ITEMCOUNT"]) and $this->session->post["ITEMCOUNT"] != null and $this->session->post["ITEMCOUNT"] != null) {
    $itemCount = $this->session->post["ITEMCOUNT"];
}
//when search box is empty
if ($this->session->post["SEARCH"] == '' || $this->session->post["SEARCH"] == null || !isset($this->session->post["SEARCH"])) {
    $this->session->post = null;
}


//when searching by STUDENT FIRST and LAST name
if ($this->session->post["TYPE"] == "student_first_last_name") {
    $names = explode("/", $this->session->post["SEARCH"]);

    if (isset($names[1])) {
        $searchData = array("student_name_first" => new MongoRegex("/^" . $names[0] . "/i"), "student_name_last" => new MongoRegex("/^" . $names[1] . "/i"));
    } else {
        $searchData = array("student_name_first" => new MongoRegex("/^" . $names[0] . "/i"));
    }
}




 $search=array_merge($search,$searchData);

 //User can only see and search their form created
 if($this->session->user['ACL']=='User'){
     $search=array('added_by_clientID'=>$this->session->fcuser['CLIENTID']);
 }
   
 //Psychologist can only see and search their form created
 if($this->session->user['ACL']=='Psychologist'){
     $search=array('added_by_clientID'=>$this->session->fcuser['CLIENTID']);
 }
 
 
  //Now search is prepared grabbing data from mongo
$this->session->datas = $service->mongoFind($this->session->defaultDB, 'users',$search, $itemCount, $sort);

//setups pages to redirect to home page.
$url = $this->url($this->session->route, array('action' => 'admin', 'view' => $this->session->view, 'layout' => 'home'));
$jsroute = '<script type="text/javascript"> window.location = "' . $url . '"; </script>';


//setting up view global variables  PLEASE UPDATE SETTINGS HERE
$this->session->activeMenu = 'main';
$this->session->title = 'Users';
$this->session->jsroute = $jsroute;
?>


<?php //setting up application headers  ?>
<?php echo $this->partial($this->session->toolBar, array('session' => $this->session,'service' => $service)); ?>
<?php echo $this->partial($this->session->path . 'style.phtml', array('session' => $this->session,'service' => $service)); ?> 

<?php //Module/Section Layout begins ?>
<div class="app-w magnet">
    <?php echo $this->partial($this->session->path . 'title.phtml', array('session' => $this->session,'service' => $service)); ?>
    <?php echo $this->partial($this->session->path . 'buttons.phtml', array('session' => $this->session,'service' => $service)); ?>
    <?php echo $this->partial($this->session->path . 'search.phtml', array('session' => $this->session,'service' => $service)); ?>
    <?php echo $this->partial($this->session->path . 'pagination.phtml', array('session' => $this->session,'service' => $service)); ?>
</div>
