
<div class="container-fluid">

    <table class="table table-hover">
        <tr>
           
            <th width="30%" id="school">NAME</th>
            <th class="t-c" id="type">LOCATION</th>
            <th class="t-c" id="type">ACL</th>
            <th class="t-c" id="type">CREATED TIME</th>
            <th class="t-c">Action</th>
        </tr>
        <tbody>
            <?php foreach ($session->datas as $data) : ?>
<?php /* var_dump($data); */ ?>
                <tr class="form" id="course-<?php echo $data['_id']; ?>">

                    <td class="form">
                        <b><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'edit', 'id' => (string)$data['_id'])); ?>"><?php echo $data['FCFNAME'].' '.$data['FCLNAME']; ?></a></b><br>
                    </td>

                    <td class="form">
                        <?php echo $data['location_code']; ?>
                    </td>

                    <td class="form">
                        <?php echo $data['ACL']; ?>
                    </td>

                    <td class="form">
                        <?php echo $data['dateCreatedMonth'].'-'.$data['dateCreatedDay'].'-'.$data['dateCreatedYear'].' '.$data['dateCreatedTime']; ?>
                    </td>

                    <td class="form" valign="top">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'edit', 'id' => (string)$data['_id'])); ?>"><i class="glyphicon glyphicon-edit"></i> Edit</a></li>
                                <li><a href="<?php echo $this->url($this->session->route, array('action' => 'admin', 'view' => $session->view, 'layout' => 'delete', 'id' => (string)$data['_id'])); ?>"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                             
                            </ul>
                        </div>
                    </td>                
                </tr>

            <?php endforeach ?>
        </tbody>
    </table>

</div>


