

<div class="app-content">	
    <form name="es" action=" <?php echo $this->url($this->session->route, array('action' => 'html', 'view'=>$session->view,'layout' => 'delete', 'id' => $session->data['pid'])); ?>" method="post">
        <table class="full white">
            <tr>
                <td ><label for="program">Theme</label></td>
                <td>
                    <?php echo $session->data["THEME"]; ?>

                </td>
            </tr>

            <tr>
                <td><label for="ladmin">GRADE+LEVEL</label></td>
                <td><?php echo $session->data["GRADELEVEL"]; ?></td>
            </tr>
        </table>

        <button type="submit" value="submit" name="submit" class="orange-btn">Delete <?php echo $session->title; ?></button>
        <a class="cancel-link" href="<?= $this->url($this->session->route, array('action' => 'html', 'view'=>$session->view,'layout' => 'home')); ?>">Cancel</a>
    </form>
</div>