<?php $this->headTitle($session->title); ?>
<div class="app-title-w">
    <div class="app-breadcrumbs">
        <a href="<?= $this->url($this->session->route, array('action' => 'html', 'view' => $this->session->view, 'layout' => 'home')); ?>"> <i class="icon-double-angle-left"></i> Back to <?php echo $session->layout; ?></a>
    </div>
    <h1 class="app-title">Delete <?php echo $session->title; ?></h1>
</div>